// This file contains CSS (SCSS) that theme options have in common, mostly color variations from the parent theme.
// The file _variables-for-options.scss is used with this file. Theme options import these files and apply their variable definitions.

$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');

// Copied from base_files/scss/_tiki-selectors.scss (which these child themes don't import)
.tiki .wiki.external + .icon-link-external, // wikitext
.tiki .wiki.external .icon-link-external,
.editable-inline .icon { // Tracker inline editing
    color: var(--#{$prefix}link-color); // $link-color;
}

hr {
    border-top: 1px solid $hr-color;
}

// Typography
// Tables
.table th,
.table td {
    border-top: 1px solid $table-border-color;
}

.table > thead > tr > th {
    border-bottom: 2px solid $table-border-color;
}

.table > tbody + tbody {
    border-top: 2px solid $table-border-color;
}

.table .table-bordered {
    border: 1px solid $table-border-color;
}

.table .table-bordered th,
.table .table-bordered td {
    border: 1px solid $table-border-color;
}

// Forms
.form-check-input:checked {
    background-color: $info; // #0d6efd;
    border-color: $info; // #0d6efd;
}

.form-range::-webkit-slider-thumb {
    background-color: $info;
}

.nav-tabs .nav-link {
    // color: $nav-tabs-link-color; //#ffffff;
    // background-color: $tiki-nav-tabs-link-bg; // #0c8a99;
    border-color: #dee2e6 #dee2e6 #ffffff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color; // #000;
    background-color: $nav-tabs-link-active-bg; //#a8e2ec;
}

.blog-postbody-title h2.card-title {
    font-size: 20px;
}

// /* Auto TOC */
#autotoc .nav-link.active,
#autotoc .nav-link.active:hover,
#autotoc .nav-link.active:focus {
    border-left-color: $primary !important;
}

#autotoc .nav > li > a:hover,
#autotoc .nav > li > a:focus {
    border-left-color: $secondary !important;
}

// Pagination
:root {
    .page-link.active, .active > .page-link {
        --bs-pagination-active-bg: #{$secondary};
        --bs-pagination-active-border-color: #{$secondary};
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        --bs-nav-pills-link-active-bg: #{$secondary};
    }
}

// Cards
.col2,
.col3 {
    .card-header {
        border-bottom: 1px solid $card-border-color;
    }
}

#col2 .tiki-card-header-title,
#col3 .tiki-card-header-title,
a.flipmoduletitle,
#col2 .card-secondary > .card-header a,
#col3 .card-secondary > .card-header a {
    color: $tiki-side-column-card-header-color; //#169FB6;
}

.page-item.disabled,
.list-group-item.disabled {
    color: $text-muted !important;
}

.tiki .main-footer {
    padding: 1px 0 2px 0;
    background: #000000;
}

.footer_liner {
    border-top: 1px solid $tiki-footer_liner-border-color;
    border-bottom: 1px solid $tiki-footer_liner-border-color;
}

.footer_liner {
    .card,
    .card-header {
        border: none;
    }
    .card {
        background-color: transparent;
        border: none;
        --bs-card-title-color: #fff;
        --bs-card-color: #fff;
    }
    .card-header {
        color: #fff;
        border-bottom: 1px dotted $tiki-footer_liner-border-color;
        border-bottom: 1px dotted $tiki-footer_liner-card-inner-border;
    }
    .module-title,
    .module-title a {
        color: $white;
    }
}

// Dark page footer
:root .bottom_modules,
[data-bs-theme="light"] .bottom_modules,
[data-bs-theme="dark"] .bottom_modules {
    //    color: #dee2e6;
    // .tiki-card-header-title { color: $tiki-dark-footer-card-header-title-color; }
    .card-header { border-bottom: solid 1px $tiki-dark-footer-card-header-border-color; }
    //.card, .card-header { border-color: $tiki-dark-footer-card-border-color; }
    .card { color: #dee2e6; background: #262626; }
    a:not(.nav-link:not(.dropdown-toggle), .dropdown-item), .btn-link { color: $tiki-dark-footer-link-color; }
    a:not(.nav-link:not(.dropdown-toggle), .dropdown-item):hover, .btn-link:hover { color: $tiki-dark-footer-link-hover-color; }
}


// Navbar border seems to cause permanent scrollbar on side menu
.tiki-admin .navbar-wrapper.fixed-top > .navbar-expand-lg {
    height: calc(100vh - var(--tiki-admin-top-modules-height) - 4px)
}