.tiki-top-nav-light {
  --tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-top-color: #212529;
  --tiki-top-hover-color: #383f45;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-light {
  --tiki-topbar-bg: #063035;
  --tiki-topbar-color: #fff;
  --tiki-topbar-hover-color: darken(#fff, 8%);
}
.tiki-top-nav-dark {
  --tiki-top-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-top-color: #000;
  --tiki-top-hover-color: #343a40;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-dark {
  --tiki-topbar-bg: #332f02;
  --tiki-topbar-color: #fff;
  --tiki-topbar-hover-color: darken(#fff, 8%);
}
.tiki-top-nav-light, .tiki-top-nav-dark {
  --tiki-top-border-top-width: 0px;
  --tiki-top-border-bottom-width: 5px;
}
header.navbar.fixed-top {
  --tiki-fixed-top-border-top-width: 0px;
  --tiki-fixed-top-border-right-width: 0px;
  --tiki-fixed-top-border-bottom-width: 5px;
  --tiki-fixed-top-border-left-width: 0px;
  --tiki-topbar-light-border-color: #000;
}
.tiki .tiki-admin-top-nav-light, .tiki .tiki-admin-aside-nav-light {
  --tiki-admin-top-nav-color: #212529;
  --tiki-admin-top-nav-color: #212529;
  --tiki-admin-top-nav-hover-color: #383f45;
  --tiki-admin-top-nav-hover-bg: none ;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-dropdown-bg: #baba25;
  --tiki-admin-dropdown-link-color: #212529;
  --tiki-admin-dropdown-link-hover-color: #1a1a1a;
  --tiki-admin-dropdown-link-hover-bg: #638637;
}
.tiki.tiki-admin .top_modules.navbar-light-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
}
.tiki .tiki-admin-top-nav-dark, .tiki .tiki-admin-aside-nav-dark {
  --tiki-admin-top-nav-color: #52702E;
  --tiki-admin-top-nav-hover-color: #52702E;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-dropdown-link-color: #fff;
  --tiki-admin-dropdown-bg: #8a8309;
  --tiki-admin-dropdown-link-hover-color: #1a1a1a;
  --tiki-admin-dropdown-link-hover-bg: #638637;
}
.tiki.tiki-admin .top_modules.navbar-dark-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%) !important;
}
.accordion {
  --bs-accordion-active-bg: #063035;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-bg: #ebdc14;
}
.header_outer, .layout_basic #top_modules, .postbody-title {
  background: #bebc24;
  background: linear-gradient(to right, #bebc24 0%, #ded319 53%, #e7d915 100%);
}
.text-danger {
  color: #D63D00 !important;
}
.text-dark {
  color: #817804 !important;
}
.btn-dark {
  color: #fff;
  background-color: #817804;
  border-color: #817804;
}
.btn.btn-outline-primary {
  color: #80780A;
  border-color: #80780A;
}
.btn.btn-outline-success {
  color: #3A833A;
  border-color: #3A833A;
}
.btn.btn-outline-warning {
  color: #A2630B;
  border-color: #A2630B;
}
.btn.btn-outline-info {
  color: #6E7425;
  border-color: #6E7425;
}
.breadcrumb-item.active {
  color: var(---bssecondary-color) !important;
}
.valid-feedback, .valid-tooltip {
  color: #288040;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label, .invalid-feedback, .invalid-tooltip {
  color: #D13B00 !important;
}
.bg-danger .card-title, .bg-warning .card-title {
  color: #fff;
}
.badge.bg-primary, .badge.bg-warning, .badge.bg-success, .badge.bg-info {
  color: #000;
}
.page-item.disabled, .list-group-item.disabled {
  color: var(---bssecondary-color) !important;
}
.progress-bar.bg-warning, .progress-bar.bg-info, .progress-bar.bg-success {
  color: #000;
}
.text-primary {
  color: #80780A !important;
}
.text-warning {
  color: #A0630E !important;
}
.text-success {
  color: #3A833A !important;
}
.text-info {
  color: #6E7425 !important;
}
:root, [data-bs-theme="light"] {
  ---bsblue: #0d6efd;
  ---bsindigo: #6610f2;
  ---bspurple: #6f42c1;
  ---bspink: #d63384;
  ---bsred: #dc3545;
  ---bsorange: #fd7e14;
  ---bsyellow: #ffc107;
  ---bsgreen: #198754;
  ---bsteal: #20c997;
  ---bscyan: #0dcaf0;
  ---bsblack: #000;
  ---bswhite: #fff;
  ---bsgray: #6c757d;
  ---bsgray-dark: #343a40;
  ---bsgray-100: #f8f9fa;
  ---bsgray-200: #e9ecef;
  ---bsgray-300: #dee2e6;
  ---bsgray-400: #ced4da;
  ---bsgray-500: #adb5bd;
  ---bsgray-600: #6c757d;
  ---bsgray-700: #495057;
  ---bsgray-800: #343a40;
  ---bsgray-900: #212529;
  ---bsprimary: #ebdc14;
  ---bssecondary: #5E7F34;
  ---bssuccess: #5cb85c;
  ---bsinfo: #96a032;
  ---bswarning: #f0ad4e;
  ---bsdanger: #D13B00;
  ---bslight: #ffffff;
  ---bsdark: #817804;
  ---bsprimary-rgb: 235, 220, 20;
  ---bssecondary-rgb: 94, 127, 52;
  ---bssuccess-rgb: 92, 184, 92;
  ---bsinfo-rgb: 150, 160, 50;
  ---bswarning-rgb: 240, 173, 78;
  ---bsdanger-rgb: 209, 59, 0;
  ---bslight-rgb: 255, 255, 255;
  ---bsdark-rgb: 129, 120, 4;
  ---bsprimary-text-emphasis: #5e5808;
  ---bssecondary-text-emphasis: #263315;
  ---bssuccess-text-emphasis: #254a25;
  ---bsinfo-text-emphasis: #3c4014;
  ---bswarning-text-emphasis: #60451f;
  ---bsdanger-text-emphasis: #541800;
  ---bslight-text-emphasis: #495057;
  ---bsdark-text-emphasis: #495057;
  ---bsprimary-bg-subtle: #fbf8d0;
  ---bssecondary-bg-subtle: #dfe5d6;
  ---bssuccess-bg-subtle: #def1de;
  ---bsinfo-bg-subtle: #eaecd6;
  ---bswarning-bg-subtle: #fcefdc;
  ---bsdanger-bg-subtle: #f6d8cc;
  ---bslight-bg-subtle: #fcfcfd;
  ---bsdark-bg-subtle: #ced4da;
  ---bsprimary-border-subtle: #f7f1a1;
  ---bssecondary-border-subtle: #bfccae;
  ---bssuccess-border-subtle: #bee3be;
  ---bsinfo-border-subtle: #d5d9ad;
  ---bswarning-border-subtle: #f9deb8;
  ---bsdanger-border-subtle: #edb199;
  ---bslight-border-subtle: #e9ecef;
  ---bsdark-border-subtle: #adb5bd;
  ---bswhite-rgb: 255, 255, 255;
  ---bsblack-rgb: 0, 0, 0;
  ---bsfont-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ---bsfont-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  ---bsgradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  ---bsbody-font-family: var(---bsfont-sans-serif);
  ---bsbody-font-size: 1rem;
  ---bsbody-font-weight: 400;
  ---bsbody-line-height: 1.5;
  ---bsbody-color: #212529;
  ---bsbody-color-rgb: 33, 37, 41;
  ---bsbody-bg: #fff;
  ---bsbody-bg-rgb: 255, 255, 255;
  ---bsemphasis-color: #000;
  ---bsemphasis-color-rgb: 0, 0, 0;
  ---bssecondary-color: rgba(33, 37, 41, 0.75);
  ---bssecondary-color-rgb: 33, 37, 41;
  ---bssecondary-bg: #e9ecef;
  ---bssecondary-bg-rgb: 233, 236, 239;
  ---bstertiary-color: rgba(33, 37, 41, 0.5);
  ---bstertiary-color-rgb: 33, 37, 41;
  ---bstertiary-bg: #f8f9fa;
  ---bstertiary-bg-rgb: 248, 249, 250;
  ---bsheading-color: inherit;
  ---bslink-color: #52702E;
  ---bslink-color-rgb: 82, 112, 46;
  ---bslink-decoration: none;
  ---bslink-hover-color: #2a3a18;
  ---bslink-hover-color-rgb: 42, 57, 23;
  ---bslink-hover-decoration: none;
  ---bscode-color: #d63384;
  ---bshighlight-bg: #fff3cd;
  ---bsborder-width: 1px;
  ---bsborder-style: solid;
  ---bsborder-color: #dee2e6;
  ---bsborder-color-translucent: rgba(0, 0, 0, 0.175);
  ---bsborder-radius: 0.375rem;
  ---bsborder-radius-sm: 0.25rem;
  ---bsborder-radius-lg: 0.5rem;
  ---bsborder-radius-xl: 1rem;
  ---bsborder-radius-xxl: 2rem;
  ---bsborder-radius-2xl: var(---bsborder-radius-xxl);
  ---bsborder-radius-pill: 50rem;
  ---bsbox-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  ---bsbox-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  ---bsbox-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  ---bsbox-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  ---bsfocus-ring-width: 0.25rem;
  ---bsfocus-ring-opacity: 0.25;
  ---bsfocus-ring-color: rgba(235, 220, 20, 0.25);
  ---bsform-valid-color: #5cb85c;
  ---bsform-valid-border-color: #5cb85c;
  ---bsform-invalid-color: #D13B00;
  ---bsform-invalid-border-color: #D13B00;
}
[data-bs-theme="dark"] {
  color-scheme: dark;
  ---bsbody-color: #adb5bd;
  ---bsbody-color-rgb: 173, 181, 189;
  ---bsbody-bg: #212529;
  ---bsbody-bg-rgb: 33, 37, 41;
  ---bsemphasis-color: #fff;
  ---bsemphasis-color-rgb: 255, 255, 255;
  ---bssecondary-color: rgba(173, 181, 189, 0.75);
  ---bssecondary-color-rgb: 173, 181, 189;
  ---bssecondary-bg: #343a40;
  ---bssecondary-bg-rgb: 52, 58, 64;
  ---bstertiary-color: rgba(173, 181, 189, 0.5);
  ---bstertiary-color-rgb: 173, 181, 189;
  ---bstertiary-bg: #2b3035;
  ---bstertiary-bg-rgb: 43, 48, 53;
  ---bsprimary-text-emphasis: #f3ea72;
  ---bssecondary-text-emphasis: #9eb285;
  ---bssuccess-text-emphasis: #9dd49d;
  ---bsinfo-text-emphasis: #c0c684;
  ---bswarning-text-emphasis: #f6ce95;
  ---bsdanger-text-emphasis: #e38966;
  ---bslight-text-emphasis: #f8f9fa;
  ---bsdark-text-emphasis: #dee2e6;
  ---bsprimary-bg-subtle: #2f2c04;
  ---bssecondary-bg-subtle: #13190a;
  ---bssuccess-bg-subtle: #122512;
  ---bsinfo-bg-subtle: #1e200a;
  ---bswarning-bg-subtle: #302310;
  ---bsdanger-bg-subtle: #2a0c00;
  ---bslight-bg-subtle: #343a40;
  ---bsdark-bg-subtle: #1a1d20;
  ---bsprimary-border-subtle: #8d840c;
  ---bssecondary-border-subtle: #384c1f;
  ---bssuccess-border-subtle: #376e37;
  ---bsinfo-border-subtle: #5a601e;
  ---bswarning-border-subtle: #90682f;
  ---bsdanger-border-subtle: #7d2300;
  ---bslight-border-subtle: #495057;
  ---bsdark-border-subtle: #343a40;
  ---bsheading-color: ;
  ---bslink-color: #f3ea72;
  ---bslink-hover-color: #f5ee8e;
  ---bslink-color-rgb: 243, 234, 114;
  ---bslink-hover-color-rgb: 245, 238, 142;
  ---bscode-color: #e685b5;
  ---bsborder-color: #495057;
  ---bsborder-color-translucent: rgba(255, 255, 255, 0.15);
  ---bsform-valid-color: #75b798;
  ---bsform-valid-border-color: #75b798;
  ---bsform-invalid-color: #ea868f;
  ---bsform-invalid-border-color: #ea868f;
}
*, *::before, *::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(---bsbody-font-family);
  font-size: var(---bsbody-font-size);
  font-weight: var(---bsbody-font-weight);
  line-height: var(---bsbody-line-height);
  color: var(---bsbody-color);
  text-align: var(---bsbody-text-align);
  background-color: var(---bsbody-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: #a59705;
  border: 0;
  border-top: var(---bsborder-width) solid;
  opacity: 0.25;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(---bsheading-color);
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul {
  padding-left: 2rem;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
mark {
  padding: 0.1875em;
  background-color: var(---bshighlight-bg);
}
sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: rgba(var(---bslink-color-rgb), var(---bslink-opacity, 1));
  text-decoration: none;
}
a:hover {
  ---bslink-color-rgb: var(---bslink-hover-color-rgb);
  text-decoration: none;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
pre, code, kbd, samp {
  font-family: var(---bsfont-monospace);
  font-size: 1em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: var(---bscode-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(---bsbody-bg);
  background-color: var(---bsbody-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}
figure {
  margin: 0 0 1rem;
}
img, svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(---bssecondary-color);
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.btn {
  ---bsbtn-padding-x: 0.75rem;
  ---bsbtn-padding-y: 0.375rem;
  ---bsbtn-font-family: ;
  ---bsbtn-font-size: 1rem;
  ---bsbtn-font-weight: 400;
  ---bsbtn-line-height: 1.5;
  ---bsbtn-color: var(---bsbody-color);
  ---bsbtn-bg: transparent;
  ---bsbtn-border-width: var(---bsborder-width);
  ---bsbtn-border-color: transparent;
  ---bsbtn-border-radius: var(---bsborder-radius);
  ---bsbtn-hover-border-color: transparent;
  ---bsbtn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  ---bsbtn-disabled-opacity: 0.65;
  ---bsbtn-focus-box-shadow: 0 0 0 0.2rem rgba(var(---bsbtn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(---bsbtn-padding-y) var(---bsbtn-padding-x);
  font-family: var(---bsbtn-font-family);
  font-size: var(---bsbtn-font-size);
  font-weight: var(---bsbtn-font-weight);
  line-height: var(---bsbtn-line-height);
  color: var(---bsbtn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(---bsbtn-border-width) solid var(---bsbtn-border-color);
  border-radius: var(---bsbtn-border-radius);
  background-color: var(---bsbtn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(---bsbtn-hover-color);
  background-color: var(---bsbtn-hover-bg);
  border-color: var(---bsbtn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(---bsbtn-color);
  background-color: var(---bsbtn-bg);
  border-color: var(---bsbtn-border-color);
}
.btn:focus-visible {
  color: var(---bsbtn-hover-color);
  background-color: var(---bsbtn-hover-bg);
  border-color: var(---bsbtn-hover-border-color);
  outline: 0;
  box-shadow: var(---bsbtn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(---bsbtn-hover-border-color);
  outline: 0;
  box-shadow: var(---bsbtn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(---bsbtn-active-color);
  background-color: var(---bsbtn-active-bg);
  border-color: var(---bsbtn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(---bsbtn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(---bsbtn-disabled-color);
  pointer-events: none;
  background-color: var(---bsbtn-disabled-bg);
  border-color: var(---bsbtn-disabled-border-color);
  opacity: var(---bsbtn-disabled-opacity);
}
.btn-primary {
  ---bsbtn-color: #212529;
  ---bsbtn-bg: #ebdc14;
  ---bsbtn-border-color: #ebdc14;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #eee137;
  ---bsbtn-hover-border-color: #ede02c;
  ---bsbtn-focus-shadow-rgb: 205, 193, 23;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #efe343;
  ---bsbtn-active-border-color: #ede02c;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #212529;
  ---bsbtn-disabled-bg: #ebdc14;
  ---bsbtn-disabled-border-color: #ebdc14;
}
.btn-secondary {
  ---bsbtn-color: #fff;
  ---bsbtn-bg: #5E7F34;
  ---bsbtn-border-color: #5E7F34;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #506c2c;
  ---bsbtn-hover-border-color: #4b662a;
  ---bsbtn-focus-shadow-rgb: 118, 146, 82;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #4b662a;
  ---bsbtn-active-border-color: #475f27;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #fff;
  ---bsbtn-disabled-bg: #5E7F34;
  ---bsbtn-disabled-border-color: #5E7F34;
}
.btn-success {
  ---bsbtn-color: #212529;
  ---bsbtn-bg: #5cb85c;
  ---bsbtn-border-color: #5cb85c;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #74c374;
  ---bsbtn-hover-border-color: #6cbf6c;
  ---bsbtn-focus-shadow-rgb: 83, 162, 84;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #7dc67d;
  ---bsbtn-active-border-color: #6cbf6c;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #212529;
  ---bsbtn-disabled-bg: #5cb85c;
  ---bsbtn-disabled-border-color: #5cb85c;
}
.btn-info {
  ---bsbtn-color: #212529;
  ---bsbtn-bg: #96a032;
  ---bsbtn-border-color: #96a032;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #a6ae51;
  ---bsbtn-hover-border-color: #a1aa47;
  ---bsbtn-focus-shadow-rgb: 132, 142, 49;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #abb35b;
  ---bsbtn-active-border-color: #a1aa47;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #212529;
  ---bsbtn-disabled-bg: #96a032;
  ---bsbtn-disabled-border-color: #96a032;
}
.btn-warning {
  ---bsbtn-color: #212529;
  ---bsbtn-bg: #f0ad4e;
  ---bsbtn-border-color: #f0ad4e;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #f2b969;
  ---bsbtn-hover-border-color: #f2b560;
  ---bsbtn-focus-shadow-rgb: 209, 153, 72;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #f3bd71;
  ---bsbtn-active-border-color: #f2b560;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #212529;
  ---bsbtn-disabled-bg: #f0ad4e;
  ---bsbtn-disabled-border-color: #f0ad4e;
}
.btn-danger {
  ---bsbtn-color: #fff;
  ---bsbtn-bg: #D13B00;
  ---bsbtn-border-color: #D13B00;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #b23200;
  ---bsbtn-hover-border-color: #a72f00;
  ---bsbtn-focus-shadow-rgb: 216, 88, 38;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #a72f00;
  ---bsbtn-active-border-color: #9d2c00;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #fff;
  ---bsbtn-disabled-bg: #D13B00;
  ---bsbtn-disabled-border-color: #D13B00;
}
.btn-light {
  ---bsbtn-color: #212529;
  ---bsbtn-bg: #ffffff;
  ---bsbtn-border-color: #ffffff;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #d9d9d9;
  ---bsbtn-hover-border-color: #ccc;
  ---bsbtn-focus-shadow-rgb: 222, 222, 223;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #ccc;
  ---bsbtn-active-border-color: #bfbfbf;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #212529;
  ---bsbtn-disabled-bg: #ffffff;
  ---bsbtn-disabled-border-color: #ffffff;
}
.btn-dark {
  ---bsbtn-color: #fff;
  ---bsbtn-bg: #817804;
  ---bsbtn-border-color: #817804;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #948c2a;
  ---bsbtn-hover-border-color: #8e861d;
  ---bsbtn-focus-shadow-rgb: 148, 140, 42;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #9a9336;
  ---bsbtn-active-border-color: #8e861d;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #fff;
  ---bsbtn-disabled-bg: #817804;
  ---bsbtn-disabled-border-color: #817804;
}
.btn-outline-primary {
  ---bsbtn-color: #ebdc14;
  ---bsbtn-border-color: #ebdc14;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #ebdc14;
  ---bsbtn-hover-border-color: #ebdc14;
  ---bsbtn-focus-shadow-rgb: 235, 220, 20;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #ebdc14;
  ---bsbtn-active-border-color: #ebdc14;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #ebdc14;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #ebdc14;
  ---bsgradient: none;
}
.btn-outline-secondary {
  ---bsbtn-color: #5E7F34;
  ---bsbtn-border-color: #5E7F34;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #5E7F34;
  ---bsbtn-hover-border-color: #5E7F34;
  ---bsbtn-focus-shadow-rgb: 94, 127, 52;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #5E7F34;
  ---bsbtn-active-border-color: #5E7F34;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #5E7F34;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #5E7F34;
  ---bsgradient: none;
}
.btn-outline-success {
  ---bsbtn-color: #5cb85c;
  ---bsbtn-border-color: #5cb85c;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #5cb85c;
  ---bsbtn-hover-border-color: #5cb85c;
  ---bsbtn-focus-shadow-rgb: 92, 184, 92;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #5cb85c;
  ---bsbtn-active-border-color: #5cb85c;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #5cb85c;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #5cb85c;
  ---bsgradient: none;
}
.btn-outline-info {
  ---bsbtn-color: #96a032;
  ---bsbtn-border-color: #96a032;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #96a032;
  ---bsbtn-hover-border-color: #96a032;
  ---bsbtn-focus-shadow-rgb: 150, 160, 50;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #96a032;
  ---bsbtn-active-border-color: #96a032;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #96a032;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #96a032;
  ---bsgradient: none;
}
.btn-outline-warning {
  ---bsbtn-color: #f0ad4e;
  ---bsbtn-border-color: #f0ad4e;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #f0ad4e;
  ---bsbtn-hover-border-color: #f0ad4e;
  ---bsbtn-focus-shadow-rgb: 240, 173, 78;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #f0ad4e;
  ---bsbtn-active-border-color: #f0ad4e;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #f0ad4e;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #f0ad4e;
  ---bsgradient: none;
}
.btn-outline-danger {
  ---bsbtn-color: #D13B00;
  ---bsbtn-border-color: #D13B00;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #D13B00;
  ---bsbtn-hover-border-color: #D13B00;
  ---bsbtn-focus-shadow-rgb: 209, 59, 0;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #D13B00;
  ---bsbtn-active-border-color: #D13B00;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #D13B00;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #D13B00;
  ---bsgradient: none;
}
.btn-outline-light {
  ---bsbtn-color: #ffffff;
  ---bsbtn-border-color: #ffffff;
  ---bsbtn-hover-color: #212529;
  ---bsbtn-hover-bg: #ffffff;
  ---bsbtn-hover-border-color: #ffffff;
  ---bsbtn-focus-shadow-rgb: 255, 255, 255;
  ---bsbtn-active-color: #212529;
  ---bsbtn-active-bg: #ffffff;
  ---bsbtn-active-border-color: #ffffff;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #ffffff;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #ffffff;
  ---bsgradient: none;
}
.btn-outline-dark {
  ---bsbtn-color: #817804;
  ---bsbtn-border-color: #817804;
  ---bsbtn-hover-color: #fff;
  ---bsbtn-hover-bg: #817804;
  ---bsbtn-hover-border-color: #817804;
  ---bsbtn-focus-shadow-rgb: 129, 120, 4;
  ---bsbtn-active-color: #fff;
  ---bsbtn-active-bg: #817804;
  ---bsbtn-active-border-color: #817804;
  ---bsbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  ---bsbtn-disabled-color: #817804;
  ---bsbtn-disabled-bg: transparent;
  ---bsbtn-disabled-border-color: #817804;
  ---bsgradient: none;
}
.btn-link {
  ---bsbtn-font-weight: 400;
  ---bsbtn-color: var(---bslink-color);
  ---bsbtn-bg: transparent;
  ---bsbtn-border-color: transparent;
  ---bsbtn-hover-color: var(---bslink-hover-color);
  ---bsbtn-hover-border-color: transparent;
  ---bsbtn-active-color: var(---bslink-hover-color);
  ---bsbtn-active-border-color: transparent;
  ---bsbtn-disabled-color: #6c757d;
  ---bsbtn-disabled-border-color: transparent;
  ---bsbtn-box-shadow: 0 0 0 #000;
  ---bsbtn-focus-shadow-rgb: 108, 133, 77;
  text-decoration: none;
}
.btn-link:hover, .btn-link:focus-visible {
  text-decoration: none;
}
.btn-link:focus-visible {
  color: var(---bsbtn-color);
}
.btn-link:hover {
  color: var(---bsbtn-hover-color);
}
.btn-lg {
  ---bsbtn-padding-y: 0.5rem;
  ---bsbtn-padding-x: 1rem;
  ---bsbtn-font-size: 1.25rem;
  ---bsbtn-border-radius: var(---bsborder-radius-lg);
}
.btn-sm {
  ---bsbtn-padding-y: 0.25rem;
  ---bsbtn-padding-x: 0.5rem;
  ---bsbtn-font-size: 0.875rem;
  ---bsbtn-border-radius: var(---bsborder-radius-sm);
}
.nav {
  ---bsnav-link-padding-x: 1rem;
  ---bsnav-link-padding-y: 0.5rem;
  ---bsnav-link-font-weight: ;
  ---bsnav-link-color: var(---bslink-color);
  ---bsnav-link-hover-color: var(---bslink-hover-color);
  ---bsnav-link-disabled-color: var(---bssecondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: var(---bsnav-link-padding-y) var(---bsnav-link-padding-x);
  font-size: var(---bsnav-link-font-size);
  font-weight: var(---bsnav-link-font-weight);
  color: var(---bsnav-link-color);
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(---bsnav-link-hover-color);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(235, 220, 20, 0.25);
}
.nav-link.disabled {
  color: var(---bsnav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  ---bsnav-tabs-border-width: var(---bsborder-width);
  ---bsnav-tabs-border-color: var(---bsborder-color);
  ---bsnav-tabs-border-radius: var(---bsborder-radius);
  ---bsnav-tabs-link-hover-border-color: var(---bssecondary-bg) var(---bssecondary-bg) var(---bsborder-color);
  ---bsnav-tabs-link-active-color: #fff;
  ---bsnav-tabs-link-active-bg: #638637;
  ---bsnav-tabs-link-active-border-color: var(---bsborder-color) var(---bsborder-color) #638637;
  border-bottom: var(---bsnav-tabs-border-width) solid var(---bsnav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(---bsnav-tabs-border-width));
  border: var(---bsnav-tabs-border-width) solid transparent;
  border-top-left-radius: var(---bsnav-tabs-border-radius);
  border-top-right-radius: var(---bsnav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(---bsnav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled {
  color: var(---bsnav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(---bsnav-tabs-link-active-color);
  background-color: var(---bsnav-tabs-link-active-bg);
  border-color: var(---bsnav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(---bsnav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills {
  ---bsnav-pills-border-radius: var(---bsborder-radius);
  ---bsnav-pills-link-active-color: #fff;
  ---bsnav-pills-link-active-bg: #5E7F34;
}
.nav-pills .nav-link {
  border-radius: var(---bsnav-pills-border-radius);
}
.nav-pills .nav-link:disabled {
  color: var(---bsnav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(---bsnav-pills-link-active-color);
  background-color: var(---bsnav-pills-link-active-bg);
}
.nav-underline {
  ---bsnav-underline-gap: 1rem;
  ---bsnav-underline-border-width: 0.125rem;
  ---bsnav-underline-link-active-color: var(---bsemphasis-color);
  gap: var(---bsnav-underline-gap);
}
.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: var(---bsnav-underline-border-width) solid transparent;
}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
  border-bottom-color: currentcolor;
}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
  font-weight: 700;
  color: var(---bsnav-underline-link-active-color);
  border-bottom-color: currentcolor;
}
.nav-fill > .nav-link, .nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link, .nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background-color: #332f02 !important;
  color: #fff;
}
.bg-dark .btn-outline-info {
  color: #00DAE6;
}
.btn-outline-dark {
  color: #817804;
  outline-color: #817804;
}
a, .btn-link, .page-link {
  color: #52702E;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #2a3a18;
}
.nav-tabs .nav-link {
  color: #343a40;
  background-color: #f8f9d4;
  border-color: #f5fb86 #f5fb86 #ffffff;
}
.tiki .wiki.external + .icon-link-external, .tiki .wiki.external .icon-link-external, .editable-inline .icon {
  color: #52702E;
}
hr {
  border-top: 1px solid #a59705;
}
.table th, .table td {
  border-top: 1px solid #dbd11a;
}
.table > thead > tr > th {
  border-bottom: 2px solid #dbd11a;
}
.table > tbody + tbody {
  border-top: 2px solid #dbd11a;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #dbd11a;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #dbd11a;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #dbd11a;
}
.form-control {
  color: #343a40;
  background-color: #f8f9d4;
  background-image: none;
  border: 1px solid #f8f9d4;
}
.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: #fff;
}
.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff;
}
.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent;
}
nav:not(.topbar_modules, .top_modules).navbar-dark .open > a, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:hover, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:focus {
  color: #fff;
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar .navbar {
  background: transparent !important;
}
.dropdown-menu {
  background-color: #baba25;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.tiki .dropdown-item, .tiki .dropdown-item a, .tiki .dropdown-item .btn.btn-link {
  color: #000;
}
.tiki .dropdown-item:hover, .tiki .dropdown-item:focus, .tiki .dropdown-item a:hover, .tiki .dropdown-item a:focus, .tiki .dropdown-item .btn.btn-link:hover, .tiki .dropdown-item .btn.btn-link:focus {
  color: #1a1a1a;
  background: #638637;
}
.tiki .dropdown-item:active, .tiki .dropdown-item.active, .tiki .dropdown-item a:active, .tiki .dropdown-item a.active, .tiki .dropdown-item .btn.btn-link:active, .tiki .dropdown-item .btn.btn-link.active {
  color: #1a1a1a;
  background: #638637;
}
.tiki .dropdown-item.disabled, .tiki .dropdown-item:disabled, .tiki .dropdown-item a.disabled, .tiki .dropdown-item a:disabled, .tiki .dropdown-item .btn.btn-link.disabled, .tiki .dropdown-item .btn.btn-link:disabled {
  color: #f2f2f2;
}
.tiki .dropdown-item .dropdown-header, .tiki .dropdown-item a .dropdown-header, .tiki .dropdown-item .btn.btn-link .dropdown-header {
  color: #ffffff;
}
.tiki .dropdown-item .dropdown-divider, .tiki .dropdown-item a .dropdown-divider, .tiki .dropdown-item .btn.btn-link .dropdown-divider {
  background: #baba25;
}
.dropdown-item.btn-link {
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #5E7F34;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #a59705;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #5E7F34;
  border-color: #638637;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #332f02;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a:not(.dropdown-item), header.page-header a.btn-link {
  color: #000;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #343a40;
  background-color: #f8f9d4;
}
input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #f2f4b0;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #ebdc14;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #f8f9d4;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #638637;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a {
  color: #ffffff;
}
#autotoc .nav-link.active, #autotoc .nav-link.active:hover, #autotoc .nav-link.active:focus {
  border-left-color: #ebdc14 !important;
}
#autotoc .nav > li > a:hover, #autotoc .nav > li > a:focus {
  border-left-color: #5E7F34 !important;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #7E7615;
}
footer#footer .footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #ebdc14;
}
.btn-dark {
  color: #ffffff;
  background: #817804;
  border-color: #817804;
}
.page-item.disabled, .list-group-item.disabled {
  color: var(---bssecondary-color) !important;
}
.navbar {
  --bs-navbar-padding-y: 0.5rem;
}
.layout_classic .header_container {
  box-shadow: inset 0 44px 0 0 #6f853a;
}
.layout_classic .page-header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.layout_classic .page-header .bg-dark {
  background: #6f853a !important;
}
.top_modules .module:not(.box-login_box):first-child {
  margin-top: calc(var(--bs-navbar-padding-y) * -1) !important;
  margin-bottom: calc(var(--bs-navbar-padding-y) * -1) !important;
  padding-top: var(--bs-navbar-padding-y);
  padding-bottom: var(--bs-navbar-padding-y);
  padding-left: 15px;
  padding-right: var(--tiki-fivealive-classic-logo-module-padding-right);
}
.top_modules .module:not(.box-login_box):first-child {
  background: url("../images/siteheader2.png") no-repeat top right !important;
  margin-left: -15px !important;
  color: #817804 !important;
}
.top_modules .module:not(.box-login_box):first-child a {
  color: #817804 !important;
}
.layout_classic .sitetitle, .layout_classic .sitetitle a, .layout_classic .sitesubtitle {
  color: #000 !important;
}
.layout_classic .page-header .nav-link {
  color: #fff;
}
.tiki .select2-container--bootstrap-5 .select2-selection {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #f8f9d4;
  border: var(---bsborder-width) solid #f8f9d4;
  border-radius: var(---bsborder-radius);
}
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown {
  background-color: #f8f9d4;
  border: var(---bsborder-width) solid #f8f9d4;
  border-radius: var(---bsborder-radius);
}
.tiki .select2-results__options .select2-results__option {
  color: #343a40;
  background: #f8f9d4;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #f8f9d4;
  border: 1px solid #f8f9d4;
  border-radius: 0.25rem;
  transition: #f8f9d4 0.15s ease-in-out, inset 0 1px 2px rgba(0, 0, 0, 0.075) 0.15s ease-in-out;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #ebdc14;
}

