// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.postbody-title,
.bg-dark {
    background: linear-gradient(to bottom,  #c51e3c 0%,#e71e40 100%);
}

.breadcrumb-item.active {
    color: $text-muted !important;
}

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

// Dark color mode
[data-bs-theme=dark] {
    .btn.btn-outline-primary { color: #F05670; border-color: #F05670; }
    .btn.btn-outline-secondary { color: #E35F7B; border-color: #E35F7B; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF4800; border-color: #FF4800; }
    .btn.btn-outline-warning { color: #C57A11; border-color: #C57A11; }
    .btn.btn-outline-info { color: #E26077; border-color: #E26077; }
    .btn.btn-outline-dark { color: #AC8811; border-color: #E26077; }

    .blockquote-footer { color: #848D94; }
}
