//--------------------------- CSS variables
:root {
    --tiki-top-bg-light:  #fff;
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #000;
    --tiki-top-light-link-hover-color: #000;

    --tiki-topbar-bg-light: #fff;
    --tiki-topbar-light-color: #888;
    --tiki-topbar-light-link-color: #595959;
    --tiki-topbar-light-link-hover-color: #888;

    --tiki-top-bg-dark:  #fafafa;
    --tiki-top-dark-color: #333;
    --tiki-top-dark-link-color: #333;
    --tiki-top-dark-link-hover-color: #333;

    --tiki-topbar-bg-dark: #fafafa;
    --tiki-topbar-dark-color: #333;
    --tiki-topbar-dark-link-color: #333;
    --tiki-topbar-dark-link-hover-color: #333;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-bg-dark) !important;
    //    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-bg-light);
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}