// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

@import "variables";

// - - - - - - - - - -  - - - - - - Other CSS - - - - - - - - - - - - - - - - - //

.text-danger {
    color: $danger !important; // #B85B19 !important; // $danger !important;
}
.text-dark {
    color: #6D5509 !important;
}

.btn.btn-outline-primary { color: #807300; border-color: #807300; }
.btn.btn-outline-secondary { color: #8F7000; border-color: #8F7000; }
.btn.btn-outline-success { color: #3A833A; border-color: #3A833A; }
.btn.btn-outline-warning { color: #A4660E; border-color: #A4660E; }
.btn.btn-outline-info { color: #B95B09; border-color: #B95B09; }

.page-link.active, .active > .page-link,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
}

.breadcrumb-item.active {
    color: $text-muted !important;
}

.valid-feedback,
.valid-tooltip { color: #288040; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label,
.invalid-feedback,
.invalid-tooltip { color: $danger; }

.badge.bg-secondary {
    background-color: #BB5525 !important;
}

.badge.bg-primary,
.badge.bg-warning,
.badge.bg-success,
.badge.bg-info {
    color: #000;
}

.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: #2D7709;
}

// Dark color mode
[data-bs-theme=dark] {
    .btn.btn-outline-primary { color: #988E0B; border-color: #988E0B; }
    .btn.btn-outline-secondary { color: #D86D3B; border-color: #D86D3B; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF4800; border-color: #FF4800; }
    .btn.btn-outline-warning { color: #C87B0E; border-color: #C87B0E; }
    .btn.btn-outline-info { color: #8B932F; border-color: #8B932F; }
    .btn.btn-outline-dark { color: #AC860C; border-color: #AC860C; }

    .valid-feedback { color: #329F4F; }
    .invalid-feedback { color: #FF4800; }
    .blockquote-footer { color: #848C94; }
    h3.tiki-card-header-title {
        color: #000;
    }
}
