//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(233, 84, 32);
    --tiki-top-color: #fff;
    --tiki-top-link-color: #fff;
    --tiki-top-link-hover-color: rgba(255, 255, 255, 0.75);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(233, 84, 32);
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-link-hover-color: rgba(255, 255, 255, 0.75);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(119, 41, 93);
    --tiki-top-color: #fff;
    --tiki-top-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-link-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #672250; // rgb(119, 41, 93); Darkened for visual interest
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-link-hover-color: #fff;
}
    //    --tiki-top-light-border:;
    //    --tiki-top-dark-border:;
    //    --tiki-top-border-width:;
    //    --tiki-topbar-light-border:;
    //    --tiki-topbar-dark-border:;
    //    --tiki-topbar-border-width:;


.tiki-admin {
    --tiki-admin-navbar-dark-bg: rgb(119, 41, 93);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: rgb(233, 84, 32);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}