Jonny Bradley <jmail@nospaces.net> jonnybradley <jonnybradley@users.sourceforge.net>
Jonny Bradley <jmail@nospaces.net> jonnybradley <jonnybradley@@users.sourceforge.net>
Jonny Bradley <jmail@nospaces.net> jonnybradley <jmail@nospaces.net>

Eutyche odimba <keutyche@gmail.com> eutyche odimba <keutyche@gmail.com>

Alvin Bauma <alvinbauma10@gmail.com> alvinBM <alvinbauma10@gmail.com>

Mohamed Elbahja <bm9qdw5r@gmail.com> Mohamed Elbahja <728613-melbahja@users.noreply.gitlab.com>

Sylvie Greverend <sylvieg@users.sourceforge.net> <sylvieg@users.sourceforge.net>

Louis-Philippe Huberdeau <lphuberdeau@users.sourceforge.net> <lphuberdeau@users.sourceforge.net>

Gary Cunningham-Lee <gary_c@cunningham-lee.com> garypp <garypp@users.sourceforge.net>

Luciash D'Being <luciash@users.sourceforge.net> luciash <luci@tiki.org>
Luciash D'Being <luciash@users.sourceforge.net> luciash d' being <gitlab@luciash.cz>
Luciash D'Being <luciash@users.sourceforge.net> luci <gitlab@luciash.cz>
Luciash D'Being <luciash@users.sourceforge.net> luciash <luciash@users.sourceforge.net>

Roberto Kirschbaum <robertokir.pro@gmail.com> robertokir <robertokir@users.sourceforge.net>
Roberto Kirschbaum <robertokir.pro@gmail.com> robertokir <robertokir.pro@gmail.com>
Roberto Kirschbaum <robertokir.pro@gmail.com> Roberto Kirschbaum <roberto.kirschbaum@users.sourceforge.net>

Rodriguez Nyiringabo <rodrigueznyiringabo@gmail.com> rodriguezny <rodrigueznyiringabo@gmail.com>

Rodrigue Mushid <rodriguerzed26@gmail.com> rodrigue mushid <rodriguerzed26@gmail.com>

Bienvenu Moringa <bienvenumoringa@gmail.com> Moringa Bienvenu <bienvenumoringa44@gmail.com>

Luis Fagundes <lhfagundes@gmail.com> lhfagundes <lhfagundes@users.sourceforge.net>

Benoit Grégoire <benoitg@coeus.ca> benoitg <benoitg@coeus.ca>
Benoit Grégoire <benoitg@coeus.ca> benoitg <benoitg@users.sourceforge.net>

amette <amette@users.sourceforge.net> amette <git@amette.eu>

Josué USHINDI ZIRIMWABAGABO <josueuzj9@gmail.com> Ushindi-Zirimwabagabo-Josue <josueuzj9@gmail.com>

Olivier Kango <olivierkango@gmail.com> Olivier-Kango <olivierkango@gmail.com>

Serge Kishiko <sergekishiko@gmail.com> Kishiko <kishiko@users.sourceforge.net>
Serge Kishiko <sergekishiko@gmail.com> kishiko <kishiko@localhost>

Domeshow Emmanuel <domeshowemmanuel@gmail.com> Domeshow Emmanuel <emmanuel.masikilizano@evoludata.com>

xorti <xorti@users.sourceforge.net> xorti <xorti@localhost>

Boss Ibrahim Mussa Gregoire <ibmussafb@gmail.com> bim-g <ibmussafb@gmail.com>

Fabio Montefuscolo <fabio.montefuscolo@gmail.com> montefuscolo <montefuscolo@users.sourceforge.net>
Fabio Montefuscolo <fabio.montefuscolo@gmail.com> montefuscolo <montefuscolo@@users.sourceforge.net>

Jorge Sá Pereira <me@jorgesapereira.com> Jorge Sá Pereira <me@jorgesapereira.com>

Jean-Marc Kadimba <jmkadimba@gmail.com> <jmkadimba@gmail.com>

Adrien Mbuya Maloba <adrienmaloba@gmail.com> Adrien Maloba <adrienmaloba@gmail.com>
Adrien Mbuya Maloba <adrienmaloba@gmail.com> adrien <adrienmaloba@gmail.com>

Bernard Sfez <me@bsfez.com> Bsfez <bsfez@shocksite.com>
Bernard Sfez <me@bsfez.com> Bsfez <me@bsfez.com>
Bernard Sfez <me@bsfez.com> root <me@bsfez.com>
Bernard Sfez <me@bsfez.com> root <root@server.bsfez.com>

Marcellin M. Wabo <marcwabo20@gmail.com> Marcellin Wabo <marcellin@wabo.work>
Marcellin M. Wabo <marcwabo20@gmail.com> marcwabo <marcwabo20@gmail.com>

Ushindi Gedeon <gedeontshobohwa1@gmail.com> UshindiG <gedeontshobohwa1@gmail.com>

Lupundu Yan <yankalekwa@gmail.com> yan.lupundu <yankalekwa@gmail.com>
Lupundu Yan <yankalekwa@gmail.com> yan <yankalekwa@gmail.com>

Geoff Brickell <geoff@brickell.org.uk> brickell <geoff@brickell.org.uk>

Jean-Paul HAMULI <jeanpaulhamuli@gmail.com> jeanpaulHamuli <jeanpaulhamuli@gmail.com>

Nelson Ko <nelson@citadelrock.com> nelsonko <3553254-nelsonko@users.noreply.gitlab.com>
Nelson Ko <nelson@citadelrock.com> Nelson Ko <3553254-nelsonko@users.noreply.gitlab.com>

Loïc Yabili <loicyabili@outlook.com> Loic Yabili <loicyabili@outlook.com>
Loïc Yabili <loicyabili@outlook.com> lyabs243 <loicyabili@outlook.com>

Nasser Ngandu <ngandunasser@gmail.com> NasserNgandu <ngandunasser@gmail.com>

Moïse Nturubika <nturumoussa@gmail.com> Anubis <nturumoussa@gmail.com>

Joel Deo <joeldeocm88@gmail.com> joeldeocm88 <joeldeocm88@gmail.com>
Joel Deo <joeldeocm88@gmail.com> JoelDeoKL <joeldeocm88@gmail.com>

Mike KOTA <kotamike55@gmail.com> MIKE KOTA <kotamike55@gmail.com>
Mike KOTA <kotamike55@gmail.com> MikeKota <kotamike55@gmail.com>

Bruno Kambere <brunokambere@gmail.com> kambereBr <brunokambere@gmail.com>

Steven Ngesera <muhngesteven@gmail.com> Muhindo Ngesera Steven(StyNet243) <muhngesteven@gmail.com>
Steven Ngesera <muhngesteven@gmail.com> Steven ngesera <muhngesteven@gmail.com>

Guillaume Leclerc <guill.bout@gmail.com> Guill Lo <guill.bout@gmail.com>
Guillaume Leclerc <guill.bout@gmail.com> Guill <guill.bout@gmail.com>

John Santos <johnndiwayesusantos@gmail.com> johnsantosDev <johnndiwayesusantos@gmail.com>
John Santos <johnndiwayesusantos@gmail.com> john.ndiwayesu <johnndiwayesusantos@gmail.com>
John Santos <johnndiwayesusantos@gmail.com> johnsantosDev <jonndiwayesusantos@gmail.com>

Ricardo Melo <rjsmelo@gmail.com> rjsmelo <rjsmelo@users.sourceforge.net>
Ricardo Melo <rjsmelo@gmail.com> rjsmelo <rjsmelo@@users.sourceforge.net>

drsassafras <drsassafras@gmail.com> drsassafras <drsassafras@users.sourceforge.net>
drsassafras <drsassafras@gmail.com> drsassfras <drsassafras@gmail.com>
drsassafras <drsassafras@gmail.com> drsassafras <drsassafras@@users.sourceforge.net>

ElvisKapepula <elcode69@gmail.com> elvis kapepula <elcode69@gmail.com>

Yannick Nsenga <yanromeo99@gmail.com> Yannick nsenga romeo <Yanromeo99@gmail.com>

Heritier Kafindo <heritierkafindo@protonmail.com> kafindo <heritierkafindo@protonmail.com>
Heritier Kafindo <heritierkafindo@protonmail.com> [kafindo] <[heritierkafindo@protonmail.com]>

Manasse Ngudia <ngudiamanasse@gmail.com> mnsuccess <ngudiamanasse@gmail.com>
Manasse Ngudia <ngudiamanasse@gmail.com> Manasoft404 <ngudiamanasse@gmail.com>

samymwamba <samymwamba@gmail.com> samymwamba <samymwamba@localhost>
samymwamba <samymwamba@gmail.com> samymwamba <samymwamba@users.sourceforge.net>

Alexandre <axel.business29@gmail.com> axel mwenze <axel.official29@gmail.com>

Sammy Ndabo <ndabosam084@gmail.com> Sam Ndabo <ndabosam084@gmail.com>

Baraka Kinywa <bkinywa24@gmail.com> Baraka24 <bkinywa24@gmail.com>

Elvis Ansima <ansimapersic@gmail.com> ElvisAns <ansimapersic@gmail.com>
Elvis Ansima <ansimapersic@gmail.com> ANSIMA Elvis <ansimapersic@gmail.com>

Luis Fagundes <lhfagundes@gmail.com> lfagundes <lfagundes@users.sourceforge.net>
Luis Fagundes <lhfagundes@gmail.com> Luis Fagundes <luis.fagundes@users.sourceforge.net>

Jean-Marc Libs <jyhem@tiki.org> Jyhem <jyhem@tiki.org>
Jean-Marc Libs <jyhem@tiki.org> jyhem <jyhem@users.sourceforge.net>
Jean-Marc Libs <jyhem@tiki.org> Jyhem <jyhem@@users.sourceforge.net>
Jean-Marc Libs <jyhem@tiki.org> Jean-Marc Libs <libs@esclapion>

Victor Emanouilov <kroky6@gmail.com> kroky6 <kroky6@users.sourceforge.net>
Victor Emanouilov <kroky6@gmail.com> kroky6 <kroky6@@users.sourceforge.net>

ushindi bienvenu <jeanbienvenusb@gmail.com> usbbush <jeanbienvenusb@gmail.com>

Marc Laporte <marc@marclaporte.com> marclaporte <marclaporte@users.sourceforge.net>
Marc Laporte <marc@marclaporte.com> marclaporte <marc@marclaporte.com>
Marc Laporte <marc@marclaporte.com> marclaporte <marclaporte@@users.sourceforge.net>

Xavier de Pedro <tiki@seeds4c.org> xavidp <xavidp@@users.sourceforge.net>
Xavier de Pedro <tiki@seeds4c.org> xavidp <xavier.depedro@seeds4c.org>
Xavier de Pedro <tiki@seeds4c.org> xavidp <xavidp@users.sourceforge.net>

lindonb <lindonb@users.sourceforge.net> lindonb <lindon@tiki.org>

chibaguy <chibaguy@users.sourceforge.net> chibaguy <chibaguy@@users.sourceforge.net>
amnabilal <amnabilal@users.sourceforge.net> amnabilal <amnabilal@@users.sourceforge.net>
yonixxx <yonixxx@users.sourceforge.net> yonixxx <yonixxx@@users.sourceforge.net>