# Tiki Help: 
# The config in this file is meant mostly for manual usage:
#
# php vendor_bundled/vendor/phpstan/phpstan/phpstan
#
# But as of 2023-11-20, this still returns over 600 errors
#
# When reviewing an entire file, you'll usually want a higher level of check (probably 3), which is:
# php vendor_bundled/vendor/phpstan/phpstan/phpstan analyse --level=3  ./lib/tikilib.php
# You can also do this for directories: 
# php vendor_bundled/vendor/phpstan/phpstan/phpstan analyse --level=3  ./lib/core/Tracker/
#
# The ultimate goal is to define our own custom rules for the worst problems and integrate this to the CI process

includes:
    - vendor_bundled/vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 0
  paths:
    - .
  scanDirectories:
    #- vendor
    #- vendor_custom
  scanFiles:
    # The following allows analysing our custom phpcs sniffs properly.  
    - vendor_bundled/vendor/squizlabs/php_codesniffer/src/Files/File.php
    - vendor_bundled/vendor/squizlabs/php_codesniffer/src/Sniffs/Sniff.php

  excludePaths:
    - vendor_bundled
    - vendor
    - vendor_custom
    - */vendor/*
    - temp
    # TODO, but too complicated for now
    #  Cypth-related
    - lib/cypht
    - lib/wiki-plugins/wikiplugin_cypht.php 
    - lib/core/Tiki/Command/SieveFiltersCommand.php
    - lib/test

    # DEPRECATED code
    - lib/sheet
    - lib/wiki-plugins/wikiplugin_sheet.php
    - lib/core/Tiki/Profile/InstallHandler/Sheet.php 
    - tiki-export_sheet.php
    - lib/accounting
    # DEPRECATED tests
    - tiki_tests
    - lib/test/AcceptanceTests
    # lang/ takes too long to process
    - lang


  # This must be fixed, but we can't do it all at once.
  #There tikiroot, tikipath, tikilib, prefs, user
  ignoreErrors:
    # From lib/setup/prefs.pĥp, but written to several other places
    - '#Variable \$prefs might not be defined.#'
    # From in tiki-setup_base.php
    # - '#Variable \$user might not be defined.#'
    # Should be $smarty = TikiLib::lib('smarty');
    - '#Variable \$smarty might not be defined.#'
    # Should be $access = TikiLib::lib('access');
    - '#Variable \$access might not be defined.#'
    # From tikilib.php: perm ('y' or 'n' value)
    - '#Variable \$perm might not be defined.#'
    # From route.php: tikilib, tikipath, tikiroot
    - '#Variable \$tikilib might not be defined.#'
    - '#Variable \$tikipath might not be defined.#'
    - '#Variable \$tikiroot might not be defined.#'
    #File specific globals
    - 
      message: '#Variable \$tikilib might not be defined.#'
      path: 'lib/auth/tokens.php'
    
    #todo: https://github.com/phpstan/phpstan-deprecation-rules
    #TODO:  Add extensions for Symfony, etc.
    #https://phpstan.org/user-guide/extension-library
    #The problem seems to be that phpstan is not seeing through TikiLib::lib, but can't deal with this now - benoitg - 2023-05-10
    - messages:
      #GENERAL DISABLE, can't deal with all this now.  
      - '#Variable \$\S* might not be defined.#'
      - '#Access to an undefined property#'
      - '#Static call to instance method#'
      #TikiManager may not be installed
      - '#unknown class TikiManager#'
      - '#Method .* should return .*but return statement is missing.#'
      #Known missing libraries
  
  tmpDir: temp/dev/phpstan_cache
