// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

@import "variables";

// - - - - - - - - - -  - - - - - - Other CSS - - - - - - - - - - - - - - - - - //

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

// Dark color mode
[data-bs-theme=dark] {
    .btn.btn-outline-primary { color: #D963AA; border-color: #D963AA; }
    .btn.btn-outline-secondary { color: #A47DB5; border-color: #A47DB5; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #F65151; border-color: #F65151; }
    .btn.btn-outline-warning { color: #C57A11; border-color: #C57A11; }
    .btn.btn-outline-info { color: #CB6CA2; border-color: #CB6CA2; }
    .btn.btn-outline-dark { color: #D364AC; border-color: #D364AC; }

    .blockquote-footer { color: #848C94; }
    .valid-feedback { color: #329F4F !important; }
    .invalid-feedback { color: #F65151 !important; }
    .page-item.disabled .page-link { background: #3d3d3d; border-color: #252729; } // var(--bs-secondary-bg); }
}
