// CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-link-color: #{$navbar-light-color};
    --tiki-top-link-hover-color: #{$navbar-light-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-link-color: #{$navbar-light-color};
    --tiki-topbar-link-hover-color: #{$navbar-light-hover-color};
}

.tiki-top-nav-dark {
    --tiki-top-bg: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%);
    --tiki-top-color: rgba($white, .75); //#{$navbar-dark-color};
    --tiki-top-link-color: rgba($white, .75);
    --tiki-top-link-hover-color: rgba($white, .85);
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%);
    --tiki-topbar-color: rgba($white, .75);
    --tiki-topbar-link-color: rgba($white, .75);
    --tiki-topbar-link-hover-color: rgba($white, .85);
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-navbar-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
    --tiki-admin-top-nav-color: rgba($white, .75);
    --tiki-admin-top-nav-link-color: rgba($white, .75);
    --tiki-admin-top-nav-link-hover-color: rgba($white, .85);
    --tiki-admin-top-nav-link-hover-bg: none ;
    --tiki-admin-aside-nav-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
    --tiki-admin-aside-nav-link-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-link-hover-color: var(--tiki-admin-top-nav-link-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-color: #{$navbar-light-color};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-link-color:rgba($white, .75);
    --tiki-admin-top-nav-link-hover-color: rgba($white, .85);
    --tiki-admin-top-nav-link-hover-bg: none;
    --tiki-admin-aside-nav-bg: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%);
    --tiki-admin-aside-nav-link-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-link-hover-color: var(--tiki-admin-top-nav-link-hover-color);
    --tiki-admin-dropdown-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%);;
}

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%) !important;
//    --tiki-admin-dropdown-dark-color: #{$dropdown-dark-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
//    --tiki-admin-navbar-light-bg: linear-gradient(to bottom, #dbdbdb 0%, #b6b6b6 2%, #acacac 3%, #ababab 5%, #c8c8c8 10%, #d4d4d4 17%, #e6e6e6 48%, #eaeaea 60%, #f3f3f3 77%, #fdfdfd 90%, #ffffff 100%);
//    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
//    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
//    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
//    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
//}