@use "sass:color";

// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.

$imagePath: "../images/";
// body {
//	background-image: url('#{$imagePath}bg.jpg');
// }

// The headings below that are commented are from Bootstrap variables.scss to help organize relevant Tiki CSS selectors.
// In the case of CSS selectors that are grouped to share common CSS properties, the category appropriate for most of the selectors is used.

//  Color system
// Spacing

@media (min-width: 992px) {
    .col1 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .p-40y80x {
        padding-left: 80px;
        padding-right: 80px
    }
}

.p-40y80x {
    padding-top: 40px;
    padding-bottom: 40px;
}


//  Body (large elements
body {
    background-image: var(--tiki-page-bg-image);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body:not(.fixed-width) .middle-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.main-footer {
    background-color: var(--tiki-brand-bg-dark);
    margin: 60px 40px 0;
    border-radius: 20px 20px 0 0;
    & .card,
    & .card-header {
        background: transparent;
    }
}

body:not(.cat_no-content-bg) main {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding: $spacer;
    margin-bottom: $spacer;
    border-radius: 20px;
}

.tiki-theme-block-dark,
.tiki-theme-block-light {
    color:  var(--tiki-theme-block-color); //$body-secondary-color;
    background-color:  var(--tiki-theme-block-bg); //var(--bs-body-bg); // $body-tertiary-bg; //#fbfbfb; // $body-secondary-bg;
    a {
        color: var(--tiki-theme-block-link-color); //$link-color;
        &:hover {
            color: var(--tiki-theme-block-link-hover-color);
        }
    }
}

.tiki-brand-block-dark,
.tiki-brand-block-light {
    color:  var(--tiki-brand-block-color); //$body-secondary-color;
    background-color:  var(--tiki-brand-block-bg); //var(--bs-body-bg); // $body-tertiary-bg; //#fbfbfb; // $body-secondary-bg;
    a {
        color: var(--tiki-brand-block-link-color); //$link-color;
        &:hover {
            color: var(--tiki-band-block-link-hover-color);
        }
    }
}

//  Links
h1.pagetitle a {
    color: var(--bs-body-color);
}

//  Paragraphs
//  Components
//  Typography
//  Tables
//  Buttons
// Use theme colors for active state - inspired by Morph theme
.btn {
    color: #fff;
    background-color: #61778F; // #6c839b;
    border: none;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}
.btn:focus {
    color: #506925;
}
.btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    background-color: #d9e3f1;
    border: none;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
    color: #506925;
}
.btn:active, .btn:active:focus {
    border-color: transparent;
}
.btn-primary:active, .btn-primary:active:focus {
    color: #fff;
    background-color: #378dfc;
}
.btn-secondary:active, .btn-secondary:active:focus {
    color: #506925;
    background-color: #d9e3f1;
}
.btn-success:active, .btn-success:active:focus {
    color: #fff;
    background-color: #43cc29;
}
.btn-info:active, .btn-info:active:focus {
    color: #fff;
    background-color: #5b62f4;
}
.btn-warning:active, .btn-warning:active:focus {
    color: #fff;
    background-color: #ffc107;
}
.btn-danger:active, .btn-danger:active:focus {
    color: #fff;
    background-color: #e52527;
}
.btn-light:active, .btn-light:active:focus {
    color: #506925;
    background-color: #d9e3f1;
}
.btn-dark:active, .btn-dark:active:focus {
    color: #fff;
    background-color: #212529;
}
.btn-link {
    font-weight: 600;
    background: transparent;
    color: $link-color;
}
.btn-link:hover, .btn-link:active, .btn-link:active:focus {
    color: #212529;
    background: transparent;
}
.btn.disabled {
    color: #506925;
    background-color: #d9e3f1;
}

.btn {
    //    color: #6c839b;

    &:focus {
        color: $gray-700;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        color: $gray-700;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {

            &:active,
            &:active:focus {
                @if ($color == secondary or $color == light) {
                    color: $gray-700;
                    background-color: $gray-200;
                } @else {
                    color: $white;
                    background-color: $value;
                }
            }
        }
    }
}


//  Forms
//  Form validation
//  Navs
//  Navbar
.header_outer,
.layout_basic .page-header {
    margin: 20px 40px;
}

.navbar.fixed-top {
    margin: 0 40px 0 40px;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.header_outer,
.top_modules,
.topbar_modules,
.layout_basic .page-header {
    border-radius: 20px;
}

.topbar-wrapper, // Classic Bootstrap and classic Tiki layouts
.layout_basic .topbar_modules { // Single container layout
    padding: 20px;
    border-radius: 20px;
    margin: 0 40px;
}

//  Dropdowns
//  Pagination
//  Jumbotron
//  Cards
//  Accordion
//  Tooltips
//  Popovers
//  Toasts
//  Badges
//  Modals
//  Alerts
//  Progress bars
//  List group
//  Image thumbnails
//  Figures
//  Breadcrumbs
//  Carousel
//  Spinners
//  Close
//  Code
//  Utilities
//  Printing

//  Etc

//  Tiki-specific

//  External libraries
