//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(248, 249, 250);
    --tiki-top-color: #000;
    --tiki-top-link-color: #000;
    --tiki-top-link-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-top-link-hover-bg: rgba(0, 0, 0, 0.03);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(248, 249, 250);
    --tiki-topbar-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-link-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-topbar-link-hover-bg: rgba(0, 0, 0, 0.03);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(52, 89, 230, 1.0);
    --tiki-top-color: #fff;
    --tiki-top-link-color: #fff;
    --tiki-top-link-hover-color: #fff;
    --tiki-top-link-hover-bg: rgba(255, 255, 255, 0.1);
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(33, 37, 41, 1.0);
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: #fff;
    --tiki-topbar-link-hover-color: #fff;
    --tiki-topbar-link-hover-bg: rgba(255, 255, 255, 0.1);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: rgba(52, 89, 230, 1.0);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: rgb(248, 249, 250);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}