// Custom variables for the Kiwi theme option of the FiveAlive and FiveAlive-lite themes

@import "../../../scss/_variables.scss";

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

$light: $white;

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$primary:       #ebdc14;
$secondary:     #5E7F34; //#648737;
$success:       #5cb85c;
$info:          #96a032;
$warning:       #f0ad4e;
$danger:        #D13B00; //#ff5c1a;
$light:         #ffffff;
$dark:          #817804; //#a59705;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$min-contrast-ratio:  3;

$color-contrast-dark:             $gray-900;
$color-contrast-light:            $white;

// Options
// Prefix
$prefix: bs-;

// Body
$body-bg:                   $white;  // default
$body-color: #212529;

$tiki-footer_liner-border-color: $primary;

// Links
$link-color:                #52702E; // #638637;
$link-shade-percentage:     20%; // default
$link-hover-color:          shift-color($link-color, $link-shade-percentage); // default
$link-hover-decoration:     none;
$btn-link-disabled-color:   $gray-600;  // default

// Components
$component-active-bg: $secondary;

// Navs
$nav-tabs-link-color: #000;
$tiki-nav-tabs-link-bg: #f8f9d4;
$tiki-tabs-link-active-color: #fff;
$tiki-nav-tabs-link-active-bg: #638637;

// Navbars
// Navbar
$navbar-dark-color:                 rgba($white, .85); // !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;

// Typography
$hr-color: #a59705;
$text-success: #288040 !important;
$text-danger: #d63d00 !important;
$text-muted: var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #5b6269;

// Cards
$card-border-color: #cdbe23;

// Tables
$table-border-color: #dbd11a;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #dbd11a; // Maybe can be improved.

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #343a40;
$input-bg: var(--#{$prefix}body-bg);  // default // #f8f9d4;
$input-border-color: var(--#{$prefix}border-color);  // default // #f8f9d4;
$input-border-top-color: #f5fb86;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #f5fb86;

// Form validation
// Dropdowns
$dropdown-bg: #baba25;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #000;
$dropdown-link-hover-color: lighten(#000, 10%);
$dropdown-link-hover-bg: #638637;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-link-hover-bg:       rgba($white, .15);  // default
$dropdown-dark-color: #fff;
$dropdown-dark-bg: #087f93;

// Pagination
$nav-pills-link-active-bg: #5E7F34; //#638637;
$pagination-color: #638637;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a59705;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg:#5E7F34; //#638637;
$pagination-active-border-color: #638637;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Cards
// Code
$code-color:                       $body-color; //  $pink; default


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Needed for footer and modules in _selectors-for-options.scss
$tiki-side-column-card-header-color: #7E7615; // #cdbe23;
$tiki-footer_liner-card-inner-border: #ebdc14;
$tiki-footer-accent-color: #ebdc14;
$tiki-footer_liner-border-color: $tiki-footer-accent-color;

$tiki-dark-footer-card-header-border-color: #e4af00;
$tiki-dark-footer-link-color: #71983e;
$tiki-dark-footer-link-hover-color: #82a653;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-light {
    --tiki-top-bg: #96a032 !important;
    --tiki-top-color: #212121;
    --tiki-top-hover-color: #3d3d3d;
    --tiki-top-text-color: #3d3d3d;
    --tiki-site-title-color: var(--tiki-top-color);
    --tiki-site-subtitle-color: var(--tiki-top-color);
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #a59705;
    --tiki-topbar-color: #000;
    --tiki-topbar-hover-color: #f2f2f2;
    --tiki-topbar-text-color: #f2f2f2;
}

@mixin top-nav-dark {
    --tiki-top-bg: #96a032 !important;
    --tiki-top-color: #2b3210; // #{$navbar-dark-link-color};
    --tiki-top-hover-color: #3f4624;
    --tiki-top-text-color: #f2f2f2;
    --tiki-site-title-color: var(--tiki-top-color);
    --tiki-site-subtitle-color: var(--tiki-top-color);
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #a59705;
    --tiki-topbar-color: #1E230B; // #{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #3f4624;
    --tiki-topbar-text-color: #3f4624;
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 0 0 5px 0;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #96a032;
    --tiki-admin-top-nav-color: #212121;
    --tiki-admin-top-nav-hover-color: #3d3d3d;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #96a032;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #212121;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #96a032;
    --tiki-admin-top-nav-bg: #96a032;
    --tiki-admin-top-nav-color: #1E230B;
    --tiki-admin-top-nav-hover-color: #f2f2f2;
//    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #96a032;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #f9f9f9;// #{$tiki-top-light-color};
    --tiki-admin-dropdown-bg: #a59705;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #96a032;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$primary}; // no $bg-light
}
