//--------------------------- Tiki CSS variables
.navbar-nav {
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
}


:root {
    --tiki-top-bg-light: rgba(171, 182, 184, 1);
    --tiki-top-light-color: rgba(0, 0, 0, 0.9);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-bg-light: rgba(171, 182, 184, 1);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-bg-dark: rgb(32, 55, 76);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-bg-dark: rgb(32, 55, 76);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-dark-link-hover-color: #fff;

    //    --tiki-top-light-border:;
    //    --tiki-top-dark-border:;
    //    --tiki-top-border-width:;
    //    --tiki-topbar-light-border:;
    //    --tiki-topbar-dark-border:;
    //    --tiki-topbar-border-width:;
}