body.fullscreen { background: $body-bg; }

// override for some cypht background colors
.tiki {
    .inline-cypht {
        .list_controls {
            background: transparent;
        }
    }
    &.mobile.tiki-cypht {
        .content_title {
            &, .list_controls { background: $card-bg; }
        }
    }
}

.tiki_trackers {
    .icon-status-open, .icon-status-pending, .icon-status-closed {
        filter: drop-shadow(0px 0px 1px black);
    }
}
// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

a.linkmodule {
    color: #BBD9F7;
}

// This is added here because I couldn't get the normal variable method to work - g_c-l
.navbar-light.bg-light {
    .nav-link {
        --bs-nav-link-color: rgba(0, 0, 0, 0.65) !important;
    }
}

.alert-light {
    --bs-alert-color: #fff;
    background-color: #737373;
}

//.alert-secondary,
//.bg-secondary {
//    background-color: #607285;
//}

.btn-outline-primary { --bs-btn-color: #E66B19; --bs-btn-border-color: #E66B19; }
.btn-outline-secondary { --bs-btn-color: #dee2e6; }
.btn-outline-success { --bs-btn-color: #46A046; --bs-btn-border-color: ; }
.btn-outline-danger { --bs-btn-color: #DD6864; --bs-btn-border-color: #DD6864; }
.btn-outline-warning { --bs-btn-color: #C79500; --bs-btn-border-color: #C79500; }
.btn-outline-info { --bs-btn-color: #29A2C7; --bs-btn-border-color: #29A2C7; }
.btn-outline-light { --bs-btn-color: #f6f6f6; --bs-btn-border-color: #f6f6f6; }
.btn-outline-dark { --bs-btn-color: #26491BE; --bs-btn-border-color: #26491BE; }
.list-group-item-dark { color: #3D4248; }

.list-group-item-dark { color: #A4ACB2; background-color: #16171D; }
.list-group-item-primary { color: #ddd; background-color: #65542A; }
.list-group-item-secondary { color: #ddd; background-color: #4B4F63; }
.list-group-item-success { color: #ddd; background-color: #395B39; }
.list-group-item-danger { color: #ddd; background-color: #AC2A2A; }
.list-group-item-warning { color: #ddd; background-color: #6A4C2F; }
.list-group-item-info { color: #ddd; background-color: #34636F; }
.list-group-item-light { color: #424D4D; background-color: #FEFBF1; }

.table-light > :not(caption) > * > * ,
.table-light {
    --bs-table-bg: #65788B;
}

.badge.text-bg-light,
.btn-light {
    background-color: #65788B;
}

.text-muted {
    color: #FCFCFCBF;
}

.code {
    --tiki-code-bg: #546873;
}
.card a:not(.btn:not(.btn-link)),
.cardlink,
.breadcrumb-item a {
    color: #BAD8F7;
}

.nav:not(.navbar) > .nav-link { color: $link-color; }

