// Superhero 5.3.3 -- This file contains overrides of and additions to variables in node_modules/bootswatch/dist/superhero/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.
@import "../../../node_modules/bootswatch/dist/superhero/_variables.scss";

//
// Color system
//

$red-300: tint-color($red, 40%); // !default;
$green-300: tint-color($green, 40%); // !default;

$primary:       #BC5815; // $orange;
$secondary:     #607285; //$gray-200; // !default;
$success:       #388038; //#3A833A; // $green !default;
$info:          #20809D; // $cyan !default;
$warning:       #946F00; // $yellow !default;
$danger:        #D33B36; // $red !default;
//$light:         #F6F6F6FF; // lighten($gray-200, 35%) !default;
$dark:          #20374c; // !default;

$min-contrast-ratio:   1.6 !default;

// Options
// Prefix for :root CSS variables
$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix; // !default;
$enable-dark-mode:            false;

// Body
$body-bg:                   #0f2537; // !default;
$body-color:                $gray-100; // !default;
// $body-secondary-color: #FFFFFFBF;

// Links
$link-color: #df6919; // #6FADEC; // Lightened for Tiki to comply with WCAG standards
$link-shade-percentage:                   20%; // !default;

// Components
// Typography
// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; // Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$font-size-base:              1.1rem;
//$text-muted:                  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- rgba(255, 255, 255, .4) !default;
$mark-bg: #806200;

// Tables
//$table-dark-border-color:     $gray-200 !default;
//$table-bg-scale:              0% !default;

// Forms
$input-bg:                          $white; // !default;
$input-disabled-color:              $gray-600; // !default;
$input-disabled-bg:                 $gray-100; // !default;

$input-color:                       $gray-900; // !default;
$input-border-color:                transparent; // !default;

$input-placeholder-color:               $gray-500; // !default;

// Form validation


// scss-docs-start form-validation-colors
$form-valid-color:                  #48A348; //$form-feedback-valid-color; // !default;
$form-valid-border-color:           $form-valid-color; // !default;
$form-invalid-color:                #E27D79; //$form-feedback-invalid-color; // !default;
$form-invalid-border-color:         $form-invalid-color; // !default;

// Dropdowns
//$dropdown-bg:                       $gray-200 !default;

// Navs
$nav-link-color:                      #000; //  rgba(0, 0, 0, 0.65); //var(--#{$prefix}link-color) !default;
//$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default; // rgba(255, 255, 255, .4) !default;
//$nav-tabs-border-color:             $gray-200 !default;
//$nav-tabs-link-active-border-color: $gray-200 !default;

// Navbar
$navbar-light-color:  black; // rgba(0, 0, 0, 0.65);

// Pagination
//$pagination-bg:                     $gray-200 !default;

// Cards
$card-color: #FFFFFFBF;
//$card-bg:                           $gray-200 !default;

// Popovers
//$popover-bg:                        $gray-200 !default;

// Toasts
//$toast-background-color:            $gray-200 !default;

// Modals
//$modal-content-bg:                  $gray-200 !default;
//$modal-header-border-color:         rgba(0, 0, 0, .2) !default;

// List group
//$list-group-bg:                     $gray-200 !default;

// Breadcrumbs
//$breadcrumb-bg:                     $gray-200 !default;

// Close
// Code
$code-color:                        $body-color;

//$pre-color:                         inherit !default;

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file
