//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: #{$navbar-light-bg};
    --tiki-top-color: #{$gray-800};
    --tiki-top-hover-color: #{$gray-800};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #{$navbar-light-bg};
    --tiki-topbar-color: #{$gray-800};
    --tiki-topbar-hover-color: #{$gray-800};
}

.tiki-top-nav-dark {
    --tiki-top-bg: #{$navbar-dark-bg};
    --tiki-top-color: #{$navbar-dark-color};
    --tiki-top-hover-color: #{$navbar-dark-hover-color};
    --tiki-top-hover-bg: #{darken($navbar-dark-bg, 6.5%)};
    --tiki-top-active-bg: #{darken($navbar-dark-bg, 6.5%)};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #{$navbar-dark-bg};
    --tiki-topbar-color: #{$navbar-dark-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
    --tiki-topbar-hover-bg: #{darken($navbar-dark-bg, 6.5%)};
    --tiki-topbar-active-bg: #{darken($navbar-dark-bg, 6.5%)};

    //    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    //    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-bg: #{$navbar-light-bg};
    --tiki-admin-navbar-bg: #{$navbar-light-bg};
    --tiki-admin-top-nav-color: #{$gray-800}; // #6B7785;
    --tiki-admin-top-nav-hover-color: #{$gray-800};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$navbar-light-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #{$navbar-light-bg};
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-hover-color};
    --tiki-admin-top-nav-hover-bg: #{darken($navbar-dark-bg, 6.5%)};
    --tiki-admin-aside-nav-bg: #{$navbar-dark-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-dark-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #{$navbar-dark-bg};
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
