// Variables for BookStacked theme, including overrides of Bootstrap SCSS variables as well as any Tiki SCSS variables
// Contains overriding declarations of Bootstrap variables and possible related value aliases to implement an override.
// For example, if `$component-active-bg: $primary;` then ``$dropdown-link-active-bg: $component-active-bg;` also needs to be explicitly restated for the theme value to override the Bootstrap default.

// Enable SCSS color functions and import default variable values
@use "sass:color";
@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated), required before import of variables.scss.
@import "../../default/scss/variables"; // 2. Import directly to allow removal of redundant Bootstrap default declarations in this file.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Color system

$primary: #206ea7;
$secondary:     $gray-600;  // default
$success:       #177D4D; // $green;  // default ---- Darkened for WCAG
$info:          #087E96; // $primary;
$warning:       #946F00; // $yellow;  // default
$danger:        #D42537; // $red;  // default ---- Darkened for WCAG
$light:         $gray-100;  // default
$dark:          $gray-900;  // default

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);  // default


$primary-light: rgba(32,110,167,0.15);
$ink-color: #206ea7;


// Options
$enable-dark-mode:            true;
$color-mode-type:             data; // `data` or `media-query`
$enable-negative-margins:       true;

// Body
$body-bg:                   #f2f2f2;
$body-color:                #575757; // .text-muted in original

$body-secondary-color:      rgba($body-color, .90);
$body-secondary-bg:         $gray-200;

$body-tertiary-color:       rgba($body-color, .5);
$body-tertiary-bg:          $gray-100;

$body-emphasis-color:       $black;

// Links
$link-color:                              $primary; //
$link-decoration:                         none;

// Components
$component-active-color:      $white; // Bootstrap 5.3
$component-active-bg:         $primary;

$border-color:                #d4d4d4; // New

$component-active-color:      $white;  // default
$component-active-bg:         $primary;  // default

// Typography
$font-family-sans-serif:        system-ui, sans-serif;
$font-family-base:              var(--#{$prefix}font-sans-serif);
$text-muted: #779B9C;
$blockquote-footer-color: #5C717F;

// Tables
$table-border-width:          var(--#{$prefix}border-width);  // default

// Buttons
// Forms
$form-text: #547173;

// Form validation
$form-invalid-color: #D42537;
$form-valid-color: #177D4D;

// Navs (four below added for Bootstrap 53)
$nav-link-color:                    var(--#{$prefix}link-color);
$nav-link-hover-color:              var(--#{$prefix}link-hover-color);
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color:           var(--#{$prefix}secondary-color);

// Navbar (four below added for Bootstrap 53)
$navbar-light-color:                $link-color; // #fff; // rgba(var(--#{$prefix}emphasis-color-rgb), .65);
$navbar-light-hover-color:          $link-hover-color; // rgba(var(--#{$prefix}emphasis-color-rgb), .8);
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1);
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3);

$navbar-dark-color:                 $white; // rgba($white, .55);
$navbar-dark-hover-color:           rgba($white, .95);
$navbar-dark-active-color:          rgba($white, .95);
$navbar-dark-disabled-color:        rgba($white, .45);

// Dropdowns (color specs updated for Bootstrap 53)
$dropdown-color:                    var(--#{$prefix}body-color);
$dropdown-bg:                       #1a5886; // picked from BookStack header input bg. var(--#{$prefix}body-bg);
$dropdown-border-color:             var(--#{$prefix}border-color-translucent);
$dropdown-divider-bg:               $dropdown-border-color;
$dropdown-link-color:               $white; // var(--#{$prefix}body-color);
$dropdown-link-hover-color:         $white; // $dropdown-link-color;
$dropdown-link-hover-bg:            rgba(255,255,255,.15); // var(--#{$prefix}tertiary-bg);

$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;
$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;

$dropdown-link-disabled-color:      $gray-500;

$dropdown-dark-color:               $gray-300;
$dropdown-dark-bg:                  $dropdown-bg; // $gray-800;
$dropdown-dark-border-color:        $dropdown-border-color;
$dropdown-dark-divider-bg:          $dropdown-divider-bg;
$dropdown-dark-box-shadow:          null;
$dropdown-dark-link-color:          $dropdown-dark-color;
$dropdown-dark-link-hover-color:    $white;
$dropdown-dark-link-hover-bg:       rgba($white, .15);
$dropdown-dark-link-active-color:   $dropdown-link-active-color;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg;
$dropdown-dark-link-disabled-color: $gray-500;
$dropdown-dark-header-color:        $gray-500;


// Pagination
$pagination-color:                  var(--#{$prefix}link-color);
$pagination-bg:                     var(--#{$prefix}body-bg);

// Cards
//$card-border-color:                 #ddd; var(--#{$prefix}border-color-translucent) !default;
$card-bg:                           transparent; // var(--#{$prefix}body-bg) !default;

// Accordion
$accordion-button-active-bg: $primary;
$accordion-button-active-color: $white;

// Tooltips
// Popovers
// Badges
// Alerts
$alert-color-scale:             100%;

// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color:              var(--#{$prefix}secondary-color); // !default;//$figure-caption-color: #547173;
// Breadcrumbs
// Code
$code-color:                        $body-color; // $pink !default;

// - - - - - - - - - -  - - - - - - Tiki SCSS variables - - - - - - - - - - - - - - - - - //

[data-bs-theme=dark] {
    $navbar-light-color: #B6D9F1;
}
