// This file is for additional SCSS rules beyond what are in _variables.scss.

// Image path example:
$imagePath: "../images/";

body {
    background-image: var(--tiki-quartz-body-bg-image);
}

.dropdown-menu {
    backdrop-filter: blur(5px);
}

.pagetitle a {color: $body-color; }

.form-control {
//    color: $body-color !important;
    option {
        background-color: #6184ba; // for theme selector options
        background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%); // For in-page forms -- Increased opacity from 255,255,255, 0.3, 0.2, 70%.
        -webkit-backdrop-filter: blur(5px);
    }
}

.tiki .form-select:not([multiple]) option {
    color: var(--bs-body-color);
}

// Using modal-content styles
.jumbotron,
.breadcrumb,
.tiki .ui-widget-content,
span.plugin-mouseover {
    border: none;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

blockquote,
.blockquote {
    color: var(--#{$prefix}body-color); // For better color contrast.
    border-left-color: $table-border-color;
}

.dropdown-menu {
    background-image: linear-gradient(125deg, rgba(230, 230, 230, 0.35), rgb(226, 232, 234, 0.8) 50%); // Increased opacity from 255,255,255, 0.3, 0.2, 70%.
//    a,
//    .dropdown-item {
//        color: #1c2664; }
}

.ec-header,
.textarea-toolbar > div,
.textarea-toolbar > ul{
    background-color: $dark;
}

.tiki .ec-day-grid-event-harness {
    background-color: $info;
}


.btn-outline-primary { --bs-btn-color: #FFFFFF; }
.btn-outline-secondary { --bs-btn-color: #FFFFFF; }
.btn-outline-success { --bs-btn-color: #000000; --bs-btn-border-color: #85C700; }
.btn-outline-danger { --bs-btn-color: #FFFFFF; }
.btn-outline-warning { --bs-btn-color: #000000; --bs-btn-border-color: #946F00; }
.btn-outline-info { --bs-btn-color: #000000; --bs-btn-border-color: #037DA6;  }
.btn-outline-light { --bs-btn-color: #000000; }
.btn-outline-dark { --bs-btn-color: #ffffff; }

[data-bs-theme=dark] {
    .btn-outline-primary { --bs-btn-color: #ED5E9F; }
    .btn-outline-secondary { --bs-btn-color: #F5F5F582; }
    .btn-outline-success { --bs-btn-color: #29C291; --bs-btn-border-color: #85C700; }
    .btn-outline-danger { --bs-btn-color: #F77102; }
    .btn-outline-warning { --bs-btn-color: #F5B800; --bs-btn-border-color: #946F00; }
    .btn-outline-info { --bs-btn-color: #05AAE1; --bs-btn-border-color: #037DA6;  }
    .btn-outline-light { --bs-btn-color: #A8A8A8; }
    .btn-outline-dark { --bs-btn-color: #919CA1; }
    mark { color: #CDD1D5; background-color: #5E4703; }
    .accordion-button { color: #fff; }
}

// List group
.list-group-item-primary { background-color: #97114D; --bs-list-group-color: #E0E0E0; }
.list-group-item-secondary { background-color: #425608; --bs-list-group-color: #E0E0E0; }
.list-group-item-success { background-color: #187255; --bs-list-group-color: #E0E0E0; }
.list-group-item-danger { background-color: #8A0000; --bs-list-group-color: #E0E0E0; }
.list-group-item-warning { background-color: #6F5320; --bs-list-group-color: #E0E0E0; }
.list-group-item-info { background-color: #205688; --bs-list-group-color: #E0E0E0; }
.list-group-item-light { background-color: $light;  color: #151515 !important; }
.list-group-item-dark { background-color: $dark; --bs-list-group-color: #E0E0E0; }

.list-group-item { opacity: 0.9};

// ----------------------------- Overrides and adjustments (from quartz.scss) ----------------------------- //

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.col2 .navbar,
.col3 .navbar { padding: 0; }

.card.module.no-decorations {
    box-shadow: none;
}