// /* interactive translations */
#intertrans-indicator {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    //    background-color: $alert-success-bg; (this and other color-related rules are moved to _tiki-selectors.scss)
    //    color: $alert-success-text;
}

#intertrans-form {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    overflow: auto;
    display: none;
    z-index: 2000;
    padding: 1em;
    //    background-color: $panel-bg;
    //    border: 1px solid $panel-default-border;
    //    color: $panel-default-text;
}

#intertrans-form table {
    width: 98%;
    padding: 1em;
}

#intertrans-form table input {
    width: 100%;
}

.intertrans td {
    width: 50%;
}

// /* tiki-edit_languages.php */
#edit_translations td {
    vertical-align: middle;
}

#edit_translations input {
    margin: 2px 0 2px 0;
}

// #edit_translations tr.last {
//     border-bottom: 2px solid $alert-success-border;
// }

// /* all_languages */
ul.all_languages {
    list-style: none;
    padding-left: 0;
}

ul.all_languages > li {
    //    border: 1px solid $alert-success-border;
    padding: 1em;
    margin-bottom: 1ex;
}

// /* Generic language selection layout for tiki objects (wiki page, article, blogpost, etc)*/
.lang_select {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 18px;
    vertical-align: middle;
    text-align: left;
}

.lang_select .clearfix:after {
    display: inline-block;
}

.lang_select .selected {
    font-weight: bold;
    font-style: italic;
}

//.lang_select .cssmenu_horiz li {  CSS menus and CSS removed so check the HTML
//    border-radius: 3px;
//    width: auto;
//}

//.lang_select .cssmenu_horiz li.tabmark {
//    background: none;
//    border: 0;
//    color: inherit;
//    padding: 0;
//    top: 0;
//}

//.lang_select .cssmenu_horiz .tabmark span {
//    background: none;
//    position: relative;
//    display: inline-block;
//    margin: 0;
//    padding: 0;
//    top: 0;
//    bottom: 0;
//    left: 1px;
//    right: 0;
//}

//.lang_select li.tabmark .popup_base a {
//    color: inherit;
//    background: none;
//}

.lang_select .tabcontent h1 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1px;
    padding-left: 0;
    padding-bottom: 1px;
    vertical-align: baseline;
}

.lang_select .tabcontent h1 a {
    padding-left: 2px;
    margin-left: 0;
    font-style: normal;
}

// code for the design of the checkbox for interactive translation - Selectors using variables are in _tiki-selectors.scss

.intertrans {
    .switch {
        display: inline-block;
        width: 40px;
        height: 20px;
        margin: 6px;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(50%);
        position: relative;
        input {
            display: none;
        }
    }
    .slider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 30px;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//        box-shadow: 0 0 0 2px $tiki-color_pigeon_post_approx, 0 0 4px $tiki-color_bright_gray_approx;
        cursor: pointer;
        border: 4px solid transparent;
        overflow: hidden;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
//            background: $tiki-color_picton_blue_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 30px;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateX(-30px);
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: .4s;
        }
    }
    input:checked + .slider {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//        box-shadow: 0 0 0 2px $tiki-color_gray_suit_approx,0 0 2px $tiki-color_zircon_approx;
        &:before {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateX(0px);
//           background: $tiki-color_pizazz_approx;
        }
    }
}
