// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.postbody-title,
.bg-dark {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3135f+0,b61261+9,c21069+18,e70b80+69,ea0a81+100 */
    background: #b3135f !important; /* Old browsers */
    background: linear-gradient(to right,  #b3135f 0%,#b61261 9%,#c21069 18%,#e70b80 69%,#ea0a81 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: $primary;
}

// Dark color mode

[data-bs-theme=dark] {
    .blockquote-footer { color: #848D94; }
    .btn.btn-outline-primary { color: #F745A4; border-color: #F745A4; }
    .btn.btn-outline-secondary { color: #E45E8D; border-color: #E45E8D; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FA4C4C; border-color: #FA4C4C; }
    .btn.btn-outline-warning { color: #C57A11; border-color: #C57A11; }
    .btn.btn-outline-info { color: #E35F91; border-color: #E35F91; }
    .btn.btn-outline-dark { color: #F641A2; border-color: #F641A2; }

}
