//--------------------------- Tiki CSS variables
.tiki-nav-light {
    --tiki-top-bg: rgb(238, 238, 238);
    --tiki-top-color: rgba(0, 0, 0, 0.9);
    --tiki-top-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-link-hover-color: rgba(0, 0, 0, 0.9);

    --tiki-topbar-bg: rgb(238, 238, 238);
    --tiki-topbar-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-link-hover-color: rgba(0, 0, 0, 0.9);
}

.tiki-nav-dark {
    --tiki-top-bg: rgba(0, 140, 186, 1.0);
    --tiki-top-color: #fff;
    --tiki-top-link-color: rgba(255, 255, 255, 0.7);
    --tiki-top-link-hover-color: #fff;

    --tiki-topbar-bg: rgba(0, 140, 186, 1.0);
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.7);
    --tiki-topbar-link-hover-color: #fff;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}