//--------------------------- Tiki CSS variables
:root {
    --tiki-top-bg-light: rgb(255, 255, 255);
    --tiki-top-light-color: rgba(0, 0, 0, 0.9);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-bg-light: rgb(255, 255, 255);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-bg-dark: #d9230f ;
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-bg-dark: #d9230f ;
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-dark-link-hover-color: #fff;

    --tiki-top-light-border: solid #dedede;
    --tiki-top-dark-border: solid #bd1e0d;
    --tiki-top-border-width: 1px;
    --tiki-topbar-light-border: solid #dedede;
    --tiki-topbar-dark-border: solid #bd1e0d;
    --tiki-topbar-border-width: 1px;
}