//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(255, 255, 255);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: solid #dedede;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(255, 255, 255);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: solid #dedede;
}

.tiki-top-nav-dark {
    --tiki-top-bg: #d9230f;
    --tiki-top-color: rgba(255, 255, 255, 0.75);
    --tiki-top-hover-color: #fff;
    --tiki-top-border: solid #bd1e0d;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #d9230f;
    --tiki-topbar-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-border: solid #bd1e0d;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgb(255, 255, 255);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-color: #{$navbar-light-color};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgb(255, 255, 255);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-color: #000;
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #d9230f;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-hover-color: #fff;
    --tiki-admin-dropdown-hover-bg: #d9230f;
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(50, 93, 136, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: #d9230f !important;
//    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
//    --tiki-admin-navbar-light-bg: rgb(255, 255, 255);
//    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
//    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
//    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
//    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
//}