//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(255, 255, 255);
    --tiki-top-color: rgba(0, 0, 0, 0.9);
    --tiki-top-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-link-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: solid #dedede;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(255, 255, 255);
    --tiki-topbar-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-link-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: solid #dedede;
}

.tiki-top-nav-dark {
    --tiki-top-bg: #d9230f;
    --tiki-top-color: #fff;
    --tiki-top-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-link-hover-color: #fff;
    --tiki-top-border: solid #bd1e0d;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #d9230f;
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-link-hover-color: #fff;
    --tiki-topbar-border: solid #bd1e0d;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: #d9230f !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: rgb(255, 255, 255);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}