// Cerulean 5.3.7
// Color values may be updated to better comply with WCAG color contrast guidelines, and other changes for Tiki.
// "default" below means the Bootswatch theme default.

@use "sass:color";
@import "../../../node_modules/bootswatch/dist/cerulean/_variables.scss"; // Bootswatch theme variables file

//
// Color system
//
$cyan:    #157BB7; //#2fa4e7; Updated for Tiki

$primary:       $cyan; // default
$secondary:     #A0A5AC; // $gray-200;
$success:       #58812C; // $green;
$info:          #077F97; // $blue;
$warning:       #946F00; // $yellow;
$danger:        $red; // default;
$light:         $gray-100; // default;
$dark:          $gray-800; // default;

$green-300: tint-color($green, 40%);  // default -- Compiling needs this to be declared
$red-300: tint-color($red, 40%);  // default -- Compiling needs this to be declared

// Options
    // Prefix
$prefix: bs-; // default -- Compiling needs this to be declared

// Body
// Links
$link-color:                            #1578B2; //  $primary;  // default - Darkened for WCAG 2
$link-shade-percentage:                   20%;  // default
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage);  // default

// Typography
$font-family-sans-serif:        Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-size-base:                1.1rem;

$headings-color: #1F9CE5; // Darkened for WCAG2.2
$blockquote-footer-color: #6D767E; // Darkened for WCAG 2

// Components
$border-color:                $gray-400;

// Forms
$form-text-color: #444A50BF;

// Form validation
$form-valid-color: #58812C;

// Dropdowns
// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !important; // !important seems to be necessary to override the Bootstrap default caused by importing vendor bootstrap.scss.
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !important;

// Navbar
$navbar-light-color: #000; // Updated for Tiki
$navbar-light-hover-color: lighten(#000,10%);
$navbar-dark-color:       #fff; // Updated for Tiki
$navbar-dark-hover-color:       $white;

// Accordion (added for Tiki)
$accordion-button-active-bg: #2fa4e7;
$accordion-button-active-color: #fff;

// Figures
$figure-caption-color: #444A50BF;

// Code
$code-color:                        $body-color; // $pink;  // default // Bootstrap 5.3

//--------------------------- Tiki SCSS variables
$tiki-navbar-dark-bg: #343a40;
$tiki-navbar-light-bg: #2fa4e7;
