//--------------------------- Tiki CSS variables
:root {
    --tiki-top-bg-light: rgba(240, 245, 250, 1);
    --tiki-top-light-color: #485785;
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.3);
    --tiki-top-light-link-hover-color: #485785;

    --tiki-topbar-bg-light: rgba(240, 245, 250, 1);
    --tiki-topbar-light-color: #485785;
    --tiki-topbar-light-link-color: #7b8ab8;
    --tiki-topbar-light-link-hover-color: #485785;

    --tiki-top-bg-dark: rgba(33, 37, 41, 1);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-bg-dark: rgba(33, 37, 41, 1);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-dark-link-hover-color: #fff;
}