// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //
// CSS is used because Bootstrap partials aren't available for theme variables, etc.
//body.layout_basic {
//    background-image: linear-gradient(to bottom, #91abaf, #8aa9ae, #84a7ac, #7da5ab, #76a3aa, #78a6ad, #79aab1, #7badb4, #86b6bd, #91c0c7, #9dc9d0, #a8d3da);
//}

.text-danger {
    color: #D63D00 !important;
}
.text-dark {
    color: $dark !important;
}

.bg-dark {
    background-color: $dark !important;
}

.btn-dark {
    color: #fff;
    background-color: $dark; // This isn't working.
    border-color: $dark;
}
.breadcrumb-item.active {
    color: $text-muted !important;
}

.valid-feedback,
.valid-tooltip { color: #288040; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label,
.invalid-feedback,
.invalid-tooltip { color: #B45918 !important; }

.bg-danger,
.bg-warning {
    .card-title {
        color: #fff;
    }
}

.badge.bg-danger {
    color: #fff;
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: #{$component-active-bg};
}

// Dark color mode
[data-bs-theme=dark] {
    .blockquote-footer { color: #848D94; }
    .figure-caption { color: #848D94; }
    .valid-feedback { color: #329F4F !important; }
    .invalid-feedback { color: #DC6D1E !important; }

    .btn.btn-outline-primary { color: #1C9AB0; border-color: #1C9AB0; }
    .btn.btn-outline-secondary { color: #0097BD; border-color: #0097BD; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF4800; border-color: #FF4800; }
    .btn.btn-outline-warning { color: #C57A11; border-color: #C57A11; }
    .btn.btn-outline-info { color: #009BA3; border-color: #009BA3; }
    .btn.btn-outline-dark { color: #139CAE; border-color: #139CAE; }

    .page-item.disabled .page-link { background: #3d3d3d; border-color: #252729; } // var(--bs-secondary-bg); }
}
