// CSS variables for the jQui theme
// These and other CSS variable values can be customized (overridden) to suit the website by adding CSS rules to the Look and Feel CSS Customization textarea.

// This file contains CSS variables / custom properties for:
// * In the case of this theme, some specific page elements and widgets as shown in the jQuery UI ThemeRoller gallery
// * Top and topbar navbars (base_files/scss/_tiki-pagetop_colors.scss)
// * Admin pages navbar and side menu (base_files/css/feature/adminui.scss
// * For the above, dark and light L&F navbar preference styling, and color mode properties
// * Other styling as necessary for the theme

// Values for CSS variables can be an SCSS variable, a hex code or other CSS value, or a CSS variable, etc. Tiki themes use a combination of these. Some ideas:
// * Use an SCSS variable for consistency if the value is already declared in _variables.scss (Interpolation info: https://developersink.com/css/css-custom-properties-sass-variables/ )
// * Use a hex color code, or other CSS value. if consistency with an SCSS variable value isn't an issue or for the simplest and easiest declaration of the value.
// * Refer to a previously-declared CSS variable to maintain consistent application of the color or other property within the scope of the CSS variable declaration.

@import "variables";

:root {
    --tiki-jui-border-radius: 4px;
    --tiki-jui-widget-content-parent-padding: .2rem;
    --tiki-jui-widget-font-weight: bold;
}

:root {
    /* Component container headers, including card-header, etc. */
    --tiki-jui-widget-header-color: #222222;
    --tiki-jui-widget-header-bg-color: #cccccc;
    --tiki-jui-widget-header-bg-path: url('../images/ui-bg_highlight-soft_75_cccccc_1x100.png');
    --tiki-jui-widget-header-bg-position: 50% 50%;
    --tiki-jui-widget-header-border-color: #aaaaaa;
    --tiki-jui-widget-header-link-color: #222222;

    /* Component containers including card-body, etc. */
    --tiki-jui-widget-content-color: #222222;
    --tiki-jui-widget-content-bg-color: #ffffff;
    --tiki-jui-widget-content-bg-path: ;
    --tiki-jui-widget-content-bg-position: ;
    --tiki-jui-widget-content-border-color: #aaaaaa;
    --tiki-jui-widget-content-link-color: #222222;
    --tiki-jui-widget-content-link-hover-color: #222222;

    /* Interactive elements including buttons, etc. */
    --tiki-jui-state-default-color: #666666; /* btn-primary, etc.*/
    --tiki-jui-state-default-bg-color: #e6e6e6;
    --tiki-jui-state-default-bg-path: url('../images/ui-bg_glass_75_e6e6e6_1x400.png');
    --tiki-jui-state-default-bg-path-adminui: url('../images/ui-bg_glass_75_e6e6e6_1x400.png');
    --tiki-jui-state-default-bg-position: 50% 50%;
    --tiki-jui-state-default-border-color: #d3d3d3;

    --tiki-jui-state-hover-color: #212121;
    --tiki-jui-state-hover-bg-color: #dadada;
    --tiki-jui-state-hover-bg-path: url('../images/ui-bg_glass_75_dadada_1x400.png');
    --tiki-jui-state-hover-bg-path-adminui: url('../images/ui-bg_glass_75_dadada_1x400.png');
    --tiki-jui-state-hover-bg-position: 50% 50%;
    --tiki-jui-state-hover-border-color: #d3d3d3;

    --tiki-jui-state-active-color: #212121;
    --tiki-jui-state-active-bg-color: #ffffff;
    --tiki-jui-state-active-bg-path: url('../images/ui-bg_glass_65_ffffff_1x400.png');
    --tiki-jui-state-active-bg-path-adminui: url('../images/ui-bg_glass_65_ffffff_1x400.png');
    --tiki-jui-state-active-bg-position: 50% 50%;
    --tiki-jui-state-active-border-color: #aaaaaa;

    --tiki-jui-highlight-color: #363636;
    --tiki-jui-highlight-link-color: #363636;
    --tiki-jui-highlight-bg-color: #fbf9ee;
    --tiki-jui-highlight-bg-path: url('../images/ui-bg_glass_55_fbf9ee_1x400.png');
    --tiki-jui-highlight-bg-position: 50% 50%;
    --tiki-jui-highlight-bg-repeat: repeat;
    --tiki-jui-highlight-border-color: #fcefa1;

    --tiki-jui-error-color: #cd0a0a;
    --tiki-jui-error-link-color: #cd0a0a;
    --tiki-jui-error-bg-color: #fef1ec;
    --tiki-jui-error-bg-path: url('../images/ui-bg_glass_95_fef1ec_1x400.png');
    --tiki-jui-error-bg-position: 50% 50%;
    --tiki-jui-error-bg-repeat: repeat;
    --tiki-jui-error-border-color: #cd0a0a;
}

[data-bs-theme=dark] {
    --tiki-jui-state-active-color: #ffffff;
    --tiki-jui-widget-header-border-color: #555555;
    --tiki-jui-state-default-border-color: #555555;
    --tiki-jui-widget-content-color: var(--bs-body-color);
    --tiki-jui-widget-content-bg-color: var(--bs-secondary-bg);
    --tiki-jui-widget-content-bg-path: ;
    --tiki-jui-widget-content-link-color: var(--bs-link-color);
    --tiki-jui-widget-content-link-hover-color: var(--bs-link-hover-color);
    /*--tiki-jui-widget-header-color:  var(--bs-body-color);*/
}

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #696868 linear-gradient(180deg,rgba(105, 104, 104, 1) 0%, rgba(99, 98, 98, 1) 30%, rgba(82, 81, 81, 1) 50%, rgba(89, 88, 88, 1) 70%, rgba(82, 82, 82, 1) 100%);
    --tiki-top-color: #e0e0e0;
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
    --tiki-top-border: solid #7e7e7e;
    --tiki-top-border-width: 0 0 1px 0;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #696868 linear-gradient(180deg,rgba(105, 104, 104, 1) 0%, rgba(99, 98, 98, 1) 30%, rgba(82, 81, 81, 1) 50%, rgba(89, 88, 88, 1) 70%, rgba(82, 82, 82, 1) 100%);
    --tiki-topbar-color: #e0e0e0;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-border: solid #7e7e7e;
    --tiki-topbar-border-width: 1px;
}

@mixin top-nav-light {
    --tiki-top-bg: var(--tiki-jui-state-default-bg-color) var(--tiki-jui-state-default-bg-path) var(--tiki-jui-state-default-bg-position) repeat-x;
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
    --tiki-top-text-color: #{$navbar-light-hover-color};
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
    --tiki-top-box-shadow: 0px 1px 10px #cac8c8;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: var(--tiki-jui-state-hover-bg-color) var(--tiki-jui-state-hover-bg-path) var(--tiki-jui-state-hover-bg-position) repeat-x;
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-hover-color};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
//[data-bs-theme=dark] {                              // dark color mode
//    .tiki-top-nav-light {                           // light top selector
//        @include top-nav-dark;                      // dark values
//    }
//    .tiki-topbar-nav-light {
//        @include topbar-nav-dark;
//    }
//}

// Color mode preference trumps L&F admin dark navbar option

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: var(--tiki-jui-state-default-bg-color) url('../images/ui-bg_glass_75_e6e6e6_1x400.png') var(--tiki-jui-state-default-bg-position) repeat-x;
    --tiki-admin-top-nav-color:  #{$navbar-light-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-top-box-shadow: 0px 1px 10px #cac8c8;
    --tiki-admin-aside-nav-bg: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-admin-aside-nav-color: #{$navbar-light-color};
    --tiki-admin-aside-nav-hover-color: #{$navbar-dark-hover-color};
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}

:root .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light {
    background: url('../images/ui-bg_glass_75_e6e6e6_1x400.png') repeat-x 50% 50% !important;
}

    button.accordion-button:not(.collapsed) {
        color: var(--tiki-admin-aside-nav-color);
        background: var(--tiki-jui-state-active-bg) var(--tiki-jui-state-active-bg-path-adminui) 50% 50% repeat-x;
    }
    button.accordion-button.collapsed {
        color: #{$navbar-light-color};
        background: var(--tiki-jui-state-default-bg-color) var(--tiki-jui-state-default-bg-path-adminui) 50% 50% repeat-x;
    }
    button.accordion-button:hover {
        color: var(--tiki-admin-aside-nav-color);
        background: var(--tiki-jui-state-hover-bg-color) var(--tiki-jui-state-hover-bg-path-adminui) 50% 50% repeat-x;
    }


// Improve appearance when two areas with same background color meet
.navbar-wrapper:has(.tiki-admin-aside-nav-light) {
    box-shadow: 5px 0 10px -5px #e3e1e1;
}

// Dark navbar
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: var(--tiki-top-bg); //linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #{$dropdown-dark-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};

    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    --bs-dropdown-link-active-color: #fff; // #{$dropdown-dark-link-active-color};
    button.accordion-button.collapsed {
        color: var(--tiki-admin-aside-nav-color);
        background: #696868 linear-gradient(180deg,rgba(105, 104, 104, 1) 0%, rgba(99, 98, 98, 1) 30%, rgba(82, 81, 81, 1) 50%, rgba(89, 88, 88, 1) 70%, rgba(82, 82, 82, 1) 100%);
    }
    button.accordion-button:not(.collapsed) {
        color: #636262;
    }

    .tiki-admin-aside-nav-dark .dropdown-item.active, .dropdown-item:active {
          --bs-dropdown-link-active-color: #fff;
    }
}

// When color mode switch isn't active
.tiki-admin-top-nav-light, // Legacy
.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
.tiki-admin-aside-nav-light {
    @include admin-nav-light;
}

.tiki-admin-top-nav-dark,
.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
.tiki-admin-aside-nav-dark {
    @include admin-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

:root {
    --tiki-card-header-bg: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-vert-nav-link-color: $link-color;
    --tiki-vert-nav-link-hover-color: $link-hover-color;
}

[data-bs-theme="dark"] {
    --tiki-card-header-bg: #{$body-secondary-bg-dark};
    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
    .bg-light,
    .navbar.bg-light {
        .nav-link {
            color: $link-color-dark;
        }
    }
    button.accordion-button:not(.collapsed) {
        background: #696868 linear-gradient(180deg,rgba(105, 104, 104, 1) 0%, rgba(99, 98, 98, 1) 30%, rgba(82, 81, 81, 1) 50%, rgba(89, 88, 88, 1) 70%, rgba(82, 82, 82, 1) 100%);
        color: #e0e0e0;
        &:hover {
            color: black;
        }
    }
    button.accordion-button.collapsed {
        color: #{$navbar-light-color};
        background: #696868 linear-gradient(180deg,rgba(105, 104, 104, 1) 0%, rgba(82, 81, 81, 1) 30%, rgba(89, 88, 88, 1) 50%, rgba(82, 82, 82, 1) 70%, rgba(99, 98, 98, 1)  100%);
        &:hover {
            color: black;
        }
    }
    button.accordion-button:hover {
        color: var(--tiki-admin-aside-nav-color);
        background: var(--tiki-jui-state-hover-bg-color) var(--tiki-jui-state-hover-bg-path-adminui) 50% 50% repeat-x;
    }
}
