// This file is for additional SCSS and CSS rules used in common by the optiion (child) themes.
// Image path example:

// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

body {
    color: $body-color;
}

// Links

a,
.btn-link {
    color: $link-color;

    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}


#col2 .panel,
#col3 .panel,
#bottom_modules .panel {
    a,
    a:visited {
        color: $side-column-link-color;
    }
}

.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.btn,
.btn-default,
input[type="reset"],
input[type="submit"],
.button input {
    text-transform: $button-text-transform;
}

.btn.btn-link,
input[type="submit"].btn-link {
    background: none;
}

.btn:hover,
.btn-default:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
    background: $button-hover-background-gradient;
}

.btn-link:hover { background: none; }
