// Variables for jQui theme, including overrides of Bootstrap SCSS variables as well as any Tiki SCSS variables
// Contains overriding declarations of Bootstrap variables and possible related value aliases to implement an override.
// For example, if `$component-active-bg: $primary;` then ``$dropdown-link-active-bg: $component-active-bg;` also needs to be explicitly restated for the theme value to override the Bootstrap default.

// Enable SCSS color functions and import default variable values
@use "sass:color";
@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated), required before import of variables.scss.
@import "../../default/scss/variables"; // 2. Import directly to allow removal of redundant Bootstrap default declarations in this file.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Colors

$primary:       #206ea7;
$secondary:     $gray-600;  // default
$success:       #177D4D; // $green;  // default ---- Darkened for WCAG
$info:          #087E96; // $primary;
$warning:       #946F00; // $yellow;  // default
$danger:        #D42537; // $red;  // default ---- Darkened for WCAG
$light:         $gray-100;  // default
$dark:          $gray-900;  // default
$white: #fff;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Options
$enable-gradients: true;

// Body
$body-bg: #f3f3f3;
$body-color:                #575757; // .text-muted in original

$body-secondary-color:      rgba($body-color, .90);
$body-secondary-bg:         $gray-200;

$body-tertiary-color:       rgba($body-color, .5);
$body-tertiary-bg:          $gray-100;

$body-emphasis-color:       $black;

// Links
$link-color: $primary;
$link-hover-decoration: none;

// Components
$component-active-color:      $white; // Bootstrap 5.3
$component-active-bg:         $primary;

// Typography
$font-family-sans-serif: system-ui, sans-serif; // "Verdana", "Arial", sans-serif;
$font-size-base: 1rem; // .9rem;

$headings-font-weight: 700;

// Tables
// Buttons
$button-border-radius: var(--tiki-jui-border-radius);

// Forms
$form-check-input-checked-color:          $component-active-color; // !default; NECESSARY
$form-check-input-checked-bg-color:       $component-active-bg; // !default; NECESSARY
$form-range-thumb-bg:                      $component-active-bg; // !default; NECESSARY

// Form validation
// Navs
// Navbar

// Dropdowns
$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;
$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;

$dropdown-link-disabled-color:      $gray-500;

$dropdown-dark-color:               $gray-300;
$dropdown-dark-bg:                  #3B3B3BFF;
$dropdown-dark-border-color:        $dropdown-border-color;
$dropdown-dark-divider-bg:          $dropdown-divider-bg;
$dropdown-dark-box-shadow:          null;
$dropdown-dark-link-color:          $dropdown-dark-color;
$dropdown-dark-link-hover-color:    $white;
$dropdown-dark-link-hover-bg:       rgba($white, .15);
$dropdown-dark-link-active-color:   $white; //$dropdown-link-active-color;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg;
$dropdown-dark-link-disabled-color: $gray-500;
$dropdown-dark-header-color:        $gray-500;

// Pagination
$pagination-color:                  var(--#{$prefix}link-color);
$pagination-bg:                     var(--#{$prefix}body-bg);

// Cards
$card-border-color: var(--bs-tertiary-color); // #999999;


// Accordion
$accordion-button-color:                  var(--tiki-jui-state-default-color);
$accordion-button-bg:                     var(--tiki-jui-state-default-bg);
$accordion-button-active-bg:              var(--tiki-jui-state-active-color);
$accordion-button-active-color:           var(---tiki-jui-state-active-bg);

// Tooltips
// Popovers
// Badges
$badge-font-size:                   .75rem;
$badge-color:                       $white;
$badge-padding-y:                   .35rem;
$badge-padding-x:                   .65rem;

// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Close
// Code
$code-color: $pink;
$code-bg: var(--bs-secondary-bg); // #eee;

// - - - - - - - - - -  - - - - - - Tiki SCSS variables - - - - - - - - - - - - - - - - - //
