// Variables for jQui theme, including overrides of Bootstrap SCSS variables as well as any Tiki SCSS variables
// Contains overriding declarations of Bootstrap variables and possible related value aliases to implement an override.
// For example, if `$component-active-bg: $primary;` then ``$dropdown-link-active-bg: $component-active-bg;` also needs to be explicitly restated for the theme value to override the Bootstrap default.

// Enable SCSS color functions and import default variable values
@use "sass:color";
@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated), required before import of variables.scss.
@import "../../default/scss/variables"; // 2. Import directly to allow removal of redundant Bootstrap default declarations in this file.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Colors

$primary:       #0001a6;
$secondary:     #adb5bd;
$success:       #56C07B;
$info:          #39A0CB;
$warning:       #F0AD4E;
$danger:        #D9534F;
$light:         $gray-100;
$dark:          $gray-900;
$white: #fff;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Options
$enable-gradients: true;

// Body
$body-color: #222;
$body-bg:                   $white;  // default

// Links
$link-hover-decoration: none;

// Components
$component-active-bg: $primary; // #aaaaaa;

// Fonts
$font-family-sans-serif: system-ui, sans-serif; // "Verdana", "Arial", sans-serif;
$font-size-base: 1rem; // .9rem;

$headings-font-weight: 700;

// Tables
// Buttons
// Forms
$form-check-input-checked-color:          $component-active-color; // !default; NECESSARY
$form-check-input-checked-bg-color:       $component-active-bg; // !default; NECESSARY
$form-range-thumb-bg:                      $component-active-bg; // !default; NECESSARY

// Dropdowns
$dropdown-link-active-bg:           $component-active-bg; //  !default;

// Navs
// Navbar
$navbar-light-border: #aaaaaa;

// Pagination
$pagination-active-bg: #aaaaaa;
$pagination-active-border: darken(#aaa, 10%);

// Cards
$card-border-color: var(--bs-tertiary-color); // #999999;

// Tooltips
// Popovers
// Badges
$badge-font-size:                   .75rem;
$badge-color:                       $black;
$badge-padding-y:                   .35rem;
$badge-padding-x:                   .65rem;

// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Close
// Code
$code-color: $pink;
$code-bg: var(--bs-secondary-bg); // #eee;

// - - - - - - - - - -  - - - - - - Tiki SCSS variables - - - - - - - - - - - - - - - - - //
