//--------------------------- Tiki CSS variables
:root {
    --tiki-top-bg-light: #fff;
    --tiki-top-light-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-bg-light: #fff;
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-bg-dark: #02b875;
    --tiki-top-dark-color: #{rgba($white, .9)};
    --tiki-top-dark-link-color: #{rgba($white, .9)};
    --tiki-top-dark-link-hover-color: #80EAD5FF;

    --tiki-topbar-bg-dark: #02b875;
    --tiki-topbar-dark-color: #{rgba($white, .9)};
    --tiki-topbar-dark-link-color: #{rgba($white, .9)};
    --tiki-topbar-dark-link-hover-color: #80EAD5FF;

    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);
}