// CSS variables for the Litera theme
// These and other CSS variable values can be customized (overridden) to suit the website by adding CSS rules to the Look and Feel CSS Customization textarea.

// This file contains CSS variables / custom properties for:
// * Top and topbar navbars (base_files/scss/_tiki-pagetop_colors.scss)
// * Admin pages navbar and side menu (base_files/css/feature/adminui.scss
// * For the above, dark and light L&F navbar preference styling, and color mode properties
// * Other styling as necessary for the theme

// Values for CSS variables can be an SCSS variable, a hex code or other CSS value, or a CSS variable, etc. Tiki themes use a combination of these. Some ideas:
// * Use an SCSS variable for consistency if the value is already declared in _variables.scss (Interpolation info: https://developersink.com/css/css-custom-properties-sass-variables/ )
// * Use a hex color code, or other CSS value. if consistency with an SCSS variable value isn't an issue or for the simplest and easiest declaration of the value.
// * Refer to a previously-declared CSS variable to maintain consistent application of the color or other property within the scope of the CSS variable declaration.

@import "../../../node_modules/bootswatch/dist/litera/_variables.scss";
@import "variables";

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #027e50;
    --tiki-top-color: #{$navbar-dark-color};
    --tiki-top-hover-color: #{$navbar-dark-hover-color};
    --tiki-top-text-color: #{$navbar-dark-hover-color};
    --tiki-site-title-color: #{$navbar-dark-brand-color, var(--tiki-top-color)};
    --tiki-site-subtitle-color: #{$navbar-dark-brand-color, var(--tiki-top-color)};
    --tiki-top-border: none;
    --tiki-top-box-shadow: 0px 1px 10px #027249;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #027E50FF;
    --tiki-topbar-color: #{rgba($white, .9)};
    --tiki-topbar-hover-color: #80EAD5FF;
    --tiki-topbar-text-color: #80EAD5FF;
}

@mixin top-nav-light {
    --tiki-top-bg: #F8F9FA;
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-text-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: 1px solid rgba(0, 0, 0, 0.1);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #F8F9FA;
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-text-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: 1px solid rgba(0, 0, 0, 0.1);
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
        --tiki-site-title-color: #{$navbar-dark-color};
        --tiki-site-subtitle-color: #{$navbar-dark-color};
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-dark;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #F8F9FA;
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.95);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 1);
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-top-box-shadow: 0px 1px 10px #e1e0e0;
    --tiki-admin-aside-nav-bg: var(--tiki-admin-top-nav-bg);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// Improve appearance when two areas with same background color meet
.navbar-wrapper:has(.tiki-admin-aside-nav-light) {
    box-shadow: 5px 0 10px -5px #e3e1e1;
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #02b875;
    --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color:  #{$navbar-dark-hover-color};
    --tiki-admin-top-box-shadow: 0px 1px 10px #02b875;
    --tiki-admin-aside-nav-bg: #02b875;
    --tiki-admin-aside-nav-color: #{$navbar-dark-color};
    --tiki-admin-aside-nav-hover-color:  #{$navbar-dark-hover-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// When color mode switch isn't active
.tiki-admin-top-nav-light, // Legacy
.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
.tiki-admin-aside-nav-light {
    @include admin-nav-light;
}

.tiki-admin-top-nav-dark,
.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
.tiki-admin-aside-nav-dark {
    @include admin-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
