// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.text-danger {
    color: $danger !important; // #B85B19 !important; // $danger !important;
}
.text-dark {
    color: #6D5509 !important;
}

.breadcrumb-item.active {
    color: $text-muted !important;
}

.valid-feedback,
.valid-tooltip { color: #2A8442 !important; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label,
.invalid-feedback,
.invalid-tooltip { color: #B45918 !important; }

.badge.bg-secondary {
    background-color: #BB5525 !important;
}

.badge.bg-info {
    background-color: #D4452B !important;
}

.badge.bg-primary,
.badge.bg-light,
.badge.bg-warning,
.badge.bg-success,
.badge.bg-info,
.badge.bg-danger,
.progress-bar.bg-success,
.progress-bar.bg-warning,
.progress-bar.bg-danger {
    color: #000;
}

.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: $primary;
}

// Dark color mode
[data-bs-theme=dark] {
    .blockquote-footer, .figure-caption { color: #808D93; }
    .valid-feedback { color: #329F4F !important; }
    .invalid-feedback { color: #DC6D1E !important; }

    .btn.btn-outline-primary { color: #F15B74; border-color: #F15B74; }
    .btn.btn-outline-secondary { color: #E35F7B; border-color: #E35F7B; }
//    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF4800; border-color: #FF4800; }
//    .btn.btn-outline-warning { color: #C57A11; border-color: #C57A11; }
    .btn.btn-outline-info { color: #E26077; border-color: #E26077; }
    .btn.btn-outline-dark { color: #E26077; border-color: #E26077; }

    .page-item.disabled .page-link { background: #3d3d3d; border-color: #252729; } // var(--bs-secondary-bg); }
}
