// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

h3.tiki-card-header-title {
    color: #fff;
}

.postbody-title,
.bg-dark {
    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e028e+0,8f06c4+100
    background: linear-gradient(to right,  #300149 0%,#15001F 100%);
}

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: $secondary;
}

// Dark color mode
[data-bs-theme=dark] {
    .blockquote-footer { color: #848D94; }
    .btn.btn-outline-primary { color: #C659FC; border-color: #C659FC; }
    .btn.btn-outline-secondary { color: #9D78DE; border-color: #9D78DE; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF4C05; border-color: #FF4C05; }
    .btn.btn-outline-warning { color: #CA7D12; border-color: #CA7D12; }
    .btn.btn-outline-info { color: #C458FD; border-color: #C458FD; }
    .btn.btn-outline-dark { color: #C757FF; border-color: #C757FF; }
}
