// Custom styles for the FiveAlive Plum option theme.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

@import "../../../scss/variables";

// Color system

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$white:    #fff;
$black:    #000;

$primary:       #7a04b5;
$secondary:     #52269c;
$success:       #3A833A; // #5cb85c;
$info:          #350251;
$warning:       #A4660E; // #f0ad4e;
$danger:        #D63D00; // #ff5c1a;
$light:         #ffffff;
$dark:          #15001f;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Background and foreground colors for areas using the child theme page header background
:root {
    --tiki-fivealive-theme-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-fivealive-theme-color: #{$black};
    --tiki-fivealive-theme-link-color: #{$gray-900};
    --tiki-fivealive-theme-link-hover-color: #{$gray-700};
}

// Options
$enable-gradients: true;
$enable-shadows: true;

// Prefix
$prefix: bs-;

// Body
$body-color: $gray-800;  // default
$body-bg:                   $white; // !default;

$body-secondary-color:     rgba($body-color, .75); // !default;
$body-secondary-bg:         $gray-200; // !default;

$body-tertiary-color:       rgba($body-color, .5); // !default;
$body-tertiary-bg:          $gray-100; // !default;

$body-emphasis-color:       $black; // !default;

//:root { --#{$prefix}secondary-color: purple !important; }

// Links
$link-color:                #7a04b5;
$link-shade-percentage:     20%; // default
$link-hover-color:          shift-color($link-color, $link-shade-percentage); // default
$link-hover-decoration:     none;
$btn-link-disabled-color:   $gray-600;  // default

// Components
$component-active-color:      $white;  // default
$component-active-bg:         $primary;  // default

// Navs
$nav-link-color:                    var(--#{$prefix}link-color);
$nav-link-hover-color:              var(--#{$prefix}link-hover-color);
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color:           var(--#{$prefix}secondary-color);
$nav-link-font-size:                null;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4dded;;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #742157;

// Navbar
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65);
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8);
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1);
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3);
$navbar-light-icon-color:           rgba($body-color, .75);
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($black, .1);//rgba(var(--#{$prefix}emphasis-color-rgb), .15); <-- why was this change made?
$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           #f2f2f2; // rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .1);
$navbar-dark-brand-color:           $navbar-dark-active-color;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color;

// Typography
$hr-color: #7a04b5;
$text-muted:  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #6B737B;
$headings-font-weight: 700;

// Tables
$table-border-color: #c564f5;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #555555;
$input-bg: var(--#{$prefix}body-bg);  // default // #f4e1ff;
$input-border-color: var(--#{$prefix}border-color);  // default // #f9f0ff;
$input-border-top-color: #db9fff;
$input-border-right-color: #f9f0ff;
$input-border-bottom-color: #f9f0ff;
$input-border-left-color: #db9fff;


$form-check-input-checked-color:          $component-active-color; // !default; NECESSARY
$form-check-input-checked-bg-color:       $component-active-bg; // !default; NECESSARY
$form-range-thumb-bg:                      $component-active-bg; // !default; NECESSARY

// Form validation
// Dropdowns (Bootstrap SCSS variables for dropdowns aren't supported in this child theme. )
:root {
    --bs-dropdown-bg: var(--#{$prefix}body-bg); // !default;
    --bs-dropdown-border-color: rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: var(--#{$prefix}body-color); // !default;
    --bs-dropdown-link-hover-color: #{$component-active-bg}; //var(--bs-dropdown-link-color); //  !default;
    --bs-dropdown-link-hover-bg: #{$component-active-bg}; //var(--#{$prefix}tertiary-bg); //  !default;
    --bs-dropdown-link-active-color: #{$component-active-color}; //  !default;
    --bs-dropdown-link-active-bg: #{$component-active-bg}; //  !default;
    --bs-dropdown-link-disabled-color: var(--#{$prefix}tertiary-color); //  !default;
    --bs-dropdown-header-color: #ffffff;
    --bs-dropdown-divider-bg: var(--bs-dropdown-bg);
}

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #7a04b5;
$pagination-color: #7a04b5;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #7a04b5;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #7a04b5;
$pagination-active-border-color: #7a04b5;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Cards
$card-cap-bg: var(--tiki-fivealive-theme-bg);
$card-cap-color: $white;
$card-border-color: #49006c;

// Code
$code-color:                       $body-color; // default

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Needed for footer and modules in _selectors-for-options.scss
$tiki-footer_liner-card-inner-border: #7a04b5;
$tiki-footer-accent-color: #7a04b5;
$tiki-footer-btn-secondary-color: #f4f4f4;
$tiki-footer_liner-border-color: $tiki-footer-accent-color;

$tiki-postbody-title-card-title-color: #fff;

// Footer colors in light and dark mode
$tiki-dark-footer-card-header-bg: var(--tiki-fivealive-theme-bg);
$tiki-dark-footer-card-header-title-color: #fff !important;
$tiki-dark-footer-card-border-color: rgba(#fff, .45);
$tiki-dark-footer-link-color: #C85FFC;
$tiki-dark-footer-link-hover-color: #cf7bf8;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-dark {
    --tiki-top-bg: var(--tiki-fivealive-theme-bg);
    --tiki-top-color: #f9f9f9;
    --tiki-top-hover-color: #f2f2f2;
    --tiki-top-text-color: #f2f2f2;
    --tiki-site-title-color: var(--tiki-top-color);
    --tiki-site-subtitle-color: var(--tiki-top-color);
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #180124;
    --tiki-topbar-color: #f9f9f9;
    --tiki-topbar-hover-color: #f2f2f2;
    --tiki-topbar-text-color: #f2f2f2;
}

//@mixin top-nav-light {
//    --tiki-top-bg: #{$tiki-top-bg}; // linear-gradient(to right, #300149 0%, #15001F 100%);
//    --tiki-top-color: #f9f9f9;
//    --tiki-top-hover-color: #f2f2f2;
//    --tiki-top-text-color: #f2f2f2;
//    --tiki-site-title-color: var(--tiki-top-color);
//    --tiki-site-subtitle-color: var(--tiki-top-color);
//    --tiki-top-border: solid #000;
//    // When navbar-light is actually dark, lighten the hamburger icon color ('stroke' in the svg) for contrast.
//    .navbar-light {
//        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
//    }
//}
//
//@mixin topbar-nav-light {
//    --tiki-topbar-bg: #180124;
//    --tiki-topbar-color: #f9f9f9;
//    --tiki-topbar-hover-color: #f2f2f2;
//    --tiki-topbar-text-color: #f2f2f2;
//    // When navbar-light is actually dark, lighten the hamburger icon color ('stroke' in the svg) for contrast.
//    .navbar-light {
//        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
//    }
//}



.tiki-top-nav-light {
    @include top-nav-dark;
}

.tiki-topbar-nav-light {
    @include topbar-nav-dark;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

header.navbar.fixed-top {
    --tiki-fixed-top-border-top-width: 0px;
    --tiki-fixed-top-border-right-width: 0px;
    --tiki-fixed-top-border-bottom-width: 5px;
    --tiki-fixed-top-border-left-width: 0px;
    --tiki-topbar-light-border-color: #000;
}

// Color mode preference trumps L&F admin light navbar option
//[data-bs-theme=dark] {                              // color mode
//    .tiki-top-nav-light {                           // light top selector
//        @include top-nav-dark;                      // dark values
//    }
//    .tiki-topbar-nav-light {
//        @include topbar-nav-dark;
//    }
//}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-dark;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: var(--tiki-fivealive-theme-bg);
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #f9f9f9;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: var(--tiki-fivealive-theme-bg);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: var(--bs-dropdown-bg);
    --tiki-admin-dropdown-link-color: var(--bs-dropdown-link-color);
    --tiki-admin-dropdown-link-hover-color: #fff;
    --tiki-admin-dropdown-link-hover-bg: var(--bs-dropdown-link-hover-bg);
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
   --tiki-admin-top-nav-bg:  var(--tiki-fivealive-theme-bg);
   --tiki-admin-top-nav-color: #f2f2f2;
   --tiki-admin-top-nav-hover-color: #f2f2f2;
   //    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
   --tiki-admin-aside-nav-bg: #49006c;
   --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
   --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
   --tiki-admin-dropdown-link-color: #{$dropdown-dark-color};
   --tiki-admin-dropdown-bg: #{$dropdown-bg};
   --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
   --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
     .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #3b0f52;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$primary};
    --bs-accordion-btn-color: #fff;
}
