// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

//.header_outer,
//.layout_basic #top_modules,
.postbody-title,
//.tiki > .navbar.fixed-top.bg-dark,
    //.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44a23+0,c64b23+10,dc5823+34,e96023+58,f06423+87,f06423+100 */
    background: #c44a23 !important; /* Old browsers */
    background: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// CSS is used because Bootstrap partials aren't available for theme variables, etc.
// (Everything below was copied from Grape and may need color adjusting.
.text-danger {
    color: $danger !important; // #B85B19 !important; // $danger !important;
}
.text-dark {
    color: #6D5509 !important;
}


.breadcrumb-item.active {
    color: $text-muted !important;
}

.valid-feedback,
.valid-tooltip { color: #288040 !important; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label,
.invalid-feedback,
.invalid-tooltip { color: $danger !important; }

.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

// Progress bars
.progress-bar {
    --bs-progress-bar-bg: #{$info};
}

.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

// Dropdown partial isn't available to these theme options.
:root .tiki-admin .dropdown-item.active {
    background-color: $secondary;
}

// Dark color mode
[data-bs-theme=dark] {
    .btn.btn-outline-primary { color: #998F0B; border-color: #998F0B; }
    .btn.btn-outline-secondary { color: #D86D3B; border-color: #D86D3B; }
    .btn.btn-outline-success { color: #46A046; border-color: #46A046; }
    .btn.btn-outline-danger { color: #FF474A; border-color: #FF474A; }
    .btn.btn-outline-warning { color: #C87B0E; border-color: #C87B0E; }
    .btn.btn-outline-info { color: #8B932F; border-color: #8B932F; }
    .btn.btn-outline-dark { color: #AC8811; border-color: #AC8811; }

    .valid-feedback { color: #329F4F !important; }
    .invalid-feedback { color: #FF474A !important; }
    .blockquote-footer { color: #848D94; }
    .accordion-button { color: #181C20; }
}
