//--------------------------- Tiki CSS variables
.navbar-nav {
    --bs-navbar-color: #32fbe2;
    --bs-navbar-hover-color: #2aad9d;
    --bs-navbar-active-color: #2aad9d;
}

:root {
    --tiki-top-bg-light: rgb(68, 217, 232);
    --tiki-top-light-color: rgba(0, 0, 0, 0.9);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.9);

    --tiki-topbar-bg-light: rgb(68, 217, 232);
    --tiki-topbar-light-color: #fff;
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.9);

    --tiki-top-bg-dark: rgb(111, 66, 193);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: rgba(255, 255, 255, 0.75);

    --tiki-topbar-bg-dark: rgb(111, 66, 193);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: rgba(255, 255, 255, 0.75);

    //    --tiki-top-light-border:;
    //    --tiki-top-dark-border:;
    //    --tiki-top-border-width:;
    //    --tiki-topbar-light-border:;
    //    --tiki-topbar-dark-border:;
    //    --tiki-topbar-border-width:;
    --tiki-top-light-box-shadow: 0 0 2px rgba(68, 217, 232, 0.9), 0 0 4px rgba(68, 217, 232, 0.4), 0 0 1rem rgba(68, 217, 232, 0.3), 0 0 4rem rgba(68, 217, 232, 0.1);
    --tiki-topbar-light-box-shadow: 0 0 2px rgba(68, 217, 232, 0.9), 0 0 4px rgba(68, 217, 232, 0.4), 0 0 1rem rgba(68, 217, 232, 0.3), 0 0 4rem rgba(68, 217, 232, 0.1);
    --tiki-top-dark-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);;
    --tiki-topbar-dark-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);;
}