// This file is for additional SCSS rules beyond what are in _variables.scss.

// Image path example:
$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

//.jumbotron,
//.breadcrumb {
//    color: $modal-content-color;
//    background:$modal-content-bg;
//}

//blockquote,
//.blockquote {
//    color: var(--#{$prefix}body-color); // For better color contrast.
//    border-left-color: $table-border-color;
//}

.alert-success a {
    color: #fff !important;
    opacity: 1;
}

.blockquote-footer {
    color: #029C8A;
}
.page-item.disabled {
    --bs-pagination-disabled-color: #029C8A; // Lightened for WCAG2
}

.nav-pills .nav-link.active,
.page-link.active, .active > .page-link {
    background: #D4169E;
}

//.dropdown-menu a {
//    display: block;
//    width: 100%;
//    padding: 0.25rem 1rem;
//    clear: both;
//    font-weight: 400;
//    color: #170229;
//    text-align: inherit;
//    text-decoration: none;
//    white-space: nowrap;
//    background-color: transparent;
//    border: 0;
//    text-shadow: 0 0 1px rgba(50, 251, 226, 0.3), 0 0 2px rgba(50, 251, 226, 0.3), 0 0 5px rgba(50, 251, 226, 0.2);
//}

//.dropdown menu a {
//    color: #150225;
//    background-color: #e9ecef;
//}

.ec-header,
.textarea-toolbar > div,
.textarea-toolbar > ul {
    background: $list-group-bg;
}

.tiki .ec-day-grid-event-harness {
    background-color: $info !important;
}

.valid-feedback {
    --bs-form-valid-color: #079D40;
}

.invalid-feedback {
    --bs-form-invalid-color: #E44E58;
}

.list-group-item-primary { --bs-list-group-bg: #6034B2; }
.list-group-item-secondary { --bs-list-group-bg: #B1258C; }
.list-group-item-success { --bs-list-group-bg: #376D4C; }
.list-group-item-danger { --bs-list-group-bg: #A61C28; }
.list-group-item-warning { --bs-list-group-bg: #67562D; }
.list-group-item-info { --bs-list-group-bg: #24668F; }
.list-group-item-light { --bs-list-group-color: #616161; }
.list-group-item-light.list-group-item-action { --bs-list-group-action-color: #616161;}
.list-group-item-dark { --bs-list-group-bg: $gray-900; }
