// Vapor 5.3.3 -- This file is to override and add top variables in  node_modules/bootswatch/dist/vapor/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.
@import "../../../node_modules/bootswatch/dist/vapor/_variables.scss";
//
// Color system
//

$yellow-800: shade-color($yellow, 60%) !default;

//$primary:       $purple !default;
$secondary:     #D917A2; // $pink !default;
$success:       #068938; // $green !default;
$info:         #0879BF; // $blue !default;
$warning:       #946F00; // $yellow !default;
$danger:        #E02E3A; // $red !default;
$light:         #0F6D75; // #11828D; // #44d9e8 !default; Darkened for acceptable contrast behind link color
//$dark:          $gray-900 !default;

//$min-contrast-ratio:   1.2 !default;

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// $enable-rounded:              false !default;

// Body

// Links

// Components
$component-active-bg:         $pink; // Repeating vapor default $primary !default;
$component-active-color: $white;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     system-ui, sans-serif; // Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//$mark-color:                  $body-color !default;
$mark-bg:                     $yellow-800;
// Tables

// Forms
$input-bg: #30115e;  // Copied from Bootswatch demo page.

// Navs

// Dropdowns

// Pagination

// Cards

// Tooltips

$tooltip-bg:                        $dark !default;

// Popovers

// Toasts

// Modals

// Progress bars

// List group

// Breadcrumbs

// Code
$code-color:                        $pink;

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file
