// Vapor 5.3.7
// Color values may be updated to better comply with WCAG color contrast guidelines, and other changes for Tiki.
// "default" below means the Bootswatch theme default.

@use "sass:color";
@import "../../../node_modules/bootswatch/dist/vapor/_variables.scss"; // Bootswatch theme variables file

// Color system
$green-300: tint-color($green, 40%);  // default -- Compiling needs this to be declared
$red-300: tint-color($red, 40%);  // default -- Compiling needs this to be declared

$yellow-800: shade-color($yellow, 60%) !default;

$primary:       $purple; // !default;
$secondary:     #D917A2; // $pink !default;
$success:       #068938; // $green !default;
$info:          #0879BF; // $blue !default;
$warning:       #946F00; // $yellow !default;
$danger:        #E02E3A; // $red !default;
$light:         #754AC4; // #0F6D75; // #11828D; // #44d9e8 !default; Darkened for acceptable contrast behind link color
$dark:          $gray-900; // !default;

//$min-contrast-ratio:   1.2 !default;

// Options
    // Prefix
$prefix: bs-; // default -- Compiling needs this to be declared
$enable-dark-mode: false;

// $enable-rounded:              false !default;

// Body
$body-secondary-color:      #2bdbc5; // rgba($body-color, .99);  // default
$body-secondary-bg:         #2b144d;
$body-tertiary-color:       rgba($body-color, .65);  // default
$body-tertiary-bg:          #250f46;
$body-emphasis-color:       #6cf8e7;

// Links
$link-color: $cyan;

// Components
$component-active-bg:         $pink; // Repeating vapor default $primary !default;
$component-active-color: $white;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     system-ui, sans-serif; // Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//$mark-color:                  $body-color !default;
$mark-bg:                     $yellow-800;
// Tables

// Forms
$input-bg: #30115e;  // Copied from Bootswatch demo page.

// Navs
$nav-link-color:                    var(--#{$prefix}link-color); // !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color); // default;

// Navbar
$navbar-light-color:                #000;
$navbar-light-hover-color:          $gray-800;
$navbar-light-active-color:         $gray-900;
$navbar-light-disabled-color:       $gray-700;
//$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .95); // !default; Reference was lost somehow.
//$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8); // !default;
//$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1); // !default;
//$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3); // !default;
$navbar-light-brand-color:          $navbar-light-active-color; // !default;
$navbar-light-brand-hover-color:    $navbar-light-active-color; // !default;


// Dropdowns
// Pagination
// Cards
// Tooltips
$tooltip-bg:                        $dark !default;

// Popovers
// Toasts
// Modals
// Progress bars
// List group
// Breadcrumbs
// Code
$code-color:                        #FAD6F1; //$pink;

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file
