@use 'element-plus/theme-chalk/el-select.css';
@use 'element-plus/theme-chalk/el-icon.css';
@use 'element-plus/theme-chalk/el-tag.css';
@use '../all.scss';

.invalid .el-select__wrapper {
    --el-border-color: var(--bs-danger);
}

.el-select__wrapper.is-filterable,
.el-select-dropdown,
.el-select {
    font-size: 16px;
    border-color: var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.el-select-dropdown,
.el-select-dropdown__wrap {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-color: var(--bs-border-color);
}

.el-tag.el-tag--info {
    --el-tag-text-color: var(--bs-secondary-color);
    --el-tag-bg-color: var(--bs-secondary-bg);

}