// Custom variables for the Lemon theme option of the FiveAlive and FiveAlive-lite themes

@import "../../../scss/_variables.scss";

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$primary:       #F0D800; // #ffc805;
$secondary:     #ffc805; // #ffe405; //#c85a28;
$success:       #5cb85c;
$info:          #f5821e;
$warning:       #f0ad4e;
$danger:        #D63D00; //#ff5c1a;
$light:         #E7E6AD;
$dark:          #2D7709;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Options
// Body
$body-bg:                   #fefff3; // $white;  // default
$body-color: #212529;

$tiki-footer_liner-border-color: $primary;

// Links
$link-color:                #007508; //#BB5525; //#c75a28;
$link-shade-percentage:     20%; // default
$link-hover-color:          shift-color($link-color, $link-shade-percentage); // default
$link-hover-decoration:     none;
$btn-link-disabled-color:   $gray-600;  // default

// Components
$component-active-color: #2D7709; // $dark;

// Typography
$hr-color: #ffc506;
$text-muted:  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #6B737B;

// Tables
$table-border-color: #a99628;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #555555;
$input-bg: var(--#{$prefix}body-bg);  // default // #fdf1d0;
$input-border-color: var(--#{$prefix}border-color);  // default // #fee194;
$input-border-top-color: #ceb688;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #ceb688;

// Form validation
// Navs
$nav-link-color: #262626D9;
$nav-tabs-link-color: #000;
$tiki-nav-tabs-link-bg: #fdf1d0; // Same as input-bg
$tiki-tabs-link-active-color: #fff;
$tiki-nav-tabs-link-active-bg: #b25025; // same as $dropdown-link-hover-bg;

// Navbars
// Dropdowns
// Pagination

// Cards
$card-border-color: #e4af00;

// Code
$code-color:                        $body-color; // $pink; default


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Needed for footer and modules in _selectors-for-options.scss
$tiki-side-column-card-header-color: #8F6D00;
$tiki-footer_liner-card-inner-border: #ffc506;

$tiki-dark-footer-card-header-border-color: #e4af00;
$tiki-dark-footer-link-color: #f0d800;
$tiki-dark-footer-link-hover-color: #cfbc11;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-light {
    --tiki-top-bg: #E7E6AD !important;
    --tiki-top-color: #007508; //#413B06;
    --tiki-top-hover-color: #016908;
    --tiki-top-text-color: var(--tiki-top-hover-color); // #{$tiki-top-link-hover-color};
    --tiki-site-title-color: var(--tiki-top-color);
    --tiki-site-subtitle-color: var(--tiki-top-color);
    --tiki-top-border: solid #016808;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #f0e04f;
    --tiki-topbar-color: #413b06; // #{$tiki-topbar-light-color};
    --tiki-topbar-hover-color: var(--tiki-top-hover-color); //#{$tiki-top-link-hover-color};
    --tiki-topbar-text-color: var(--tiki-top-hover-color); //#{$tiki-top-link-hover-color};
}

@mixin top-nav-dark {
    --tiki-top-bg: #E7E6AD !important;
    --tiki-top-color: #007508;; // #EDEDEDF5; //#000; // {$navbar-dark-link-color};
    --tiki-top-hover-color: #016908; // #181818;
    --tiki-top-text-color: #016908; // #181818;
    --tiki-site-title-color: var(--tiki-top-color);
    --tiki-site-subtitle-color: var(--tiki-top-color);
    --tiki-top-border: solid #016808;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg:  #f0e04f;
    --tiki-topbar-color: #000; //#{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #181818;
    --tiki-topbar-text-color: #181818;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 0 0 5px 0;
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 0 0 5px 0;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #E7E6AD;
    --tiki-admin-top-nav-color: #413B06;
    --tiki-admin-top-nav-hover-color: #564e08;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #E7E6AD;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #E7E6AD;
    --tiki-admin-top-nav-color: #000;
    --tiki-admin-top-nav-hover-color: #564e08;
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: #E7E6AD;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #000;
    --tiki-admin-dropdown-bg: #f0e04f;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #f0e04f;
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-bg:  #E7E6AD;
}
