//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgba(248, 245, 240, 1);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: #000;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgba(248, 245, 240, 1);
    --tiki-topbar-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: #000;
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(50, 93, 136, 1);
    --tiki-top-link-color: rgba(255, 255, 255, 0.8); // #fff;
    --tiki-top-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(50, 93, 136, 1);
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.8); //  #fff;
    --tiki-topbar-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: rgba(248, 245, 240, 1);
    --tiki-admin-top-nav-color: #000;
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-hover-color: #000;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgba(248, 245, 240, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-color: #{$navbar-light-color};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgba(248, 245, 240, 1);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-link-color: #fff;
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.8);
    --tiki-admin-top-nav-link-hover-bg: #fff;
    --tiki-admin-aside-nav-bg: rgba(50, 93, 136, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-link-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(50, 93, 136, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.tiki-admin {
    --tiki-admin-navbar-dark-bg: rgba(50, 93, 136, 1);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: rgba(248, 245, 240, 1);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}