// CSS variables for the Ohia theme
// These and other CSS variable values can be customized (overridden) to suit the website by adding CSS rules to the Look and Feel CSS Customization textarea.

// This file contains CSS variables / custom properties for:
// * Top and topbar navbars (base_files/scss/_tiki-pagetop_colors.scss)
// * Admin pages navbar and side menu (base_files/css/feature/adminui.scss
// * For the above, dark and light L&F navbar preference styling, and color mode properties
// * Other styling as necessary for the theme

// Values for CSS variables can be an SCSS variable, a hex code or other CSS value, or a CSS variable, etc. Tiki themes use a combination of these. Some ideas:
// * Use an SCSS variable for consistency if the value is already declared in _variables.scss (Interpolation info: https://developersink.com/css/css-custom-properties-sass-variables/ )
// * Use a hex color code, or other CSS value. if consistency with an SCSS variable value isn't an issue or for the simplest and easiest declaration of the value.
// * Refer to a previously-declared CSS variable to maintain consistent application of the color or other property within the scope of the CSS variable declaration.

@import "variables";

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #343a40;
    --tiki-top-color: #{$navbar-dark-color};
    --tiki-top-hover-color: #{$navbar-dark-hover-color};
    --tiki-top-text-color: #{$navbar-dark-hover-color};
    --tiki-site-title-color: #{$navbar-dark-brand-color, var(--tiki-top-color)};
    --tiki-site-subtitle-color: #{$navbar-dark-brand-color, var(--tiki-top-color)};
    --tiki-top-border: none;
    --tiki-top-box-shadow: 0px 1px 10px #383e46;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #343a40;
    --tiki-topbar-color: #{$navbar-dark-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-hover-color};
}

@mixin top-nav-light {
    --tiki-top-bg: #{$sky-new};
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
    --tiki-top-text-color: #{$navbar-light-hover-color};
    --tiki-site-title-color: #{$navbar-light-brand-color, var(--tiki-top-color)};
    --tiki-site-subtitle-color: #{$navbar-light-brand-color, var(--tiki-top-color)};
    --tiki-top-border: none;
    --tiki-top-box-shadow: 0px 1px 10px #98bbbe;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #{$sky-new};
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-hover-color};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #{$sky-new};
    --tiki-admin-navbar-bg: #{$sky-new};
     --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$sky-new};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #fff;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-item {
        border-width: 0 !important;
    }
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #343a40;
    --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #343a40;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #80a60f; // #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-width: 0 !important;
    }
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// When color mode switch isn't active
.tiki-admin-top-nav-light, // Legacy
.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
.tiki-admin-aside-nav-light {
    @include admin-nav-light;
}

.tiki-admin-top-nav-dark,
.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
.tiki-admin-aside-nav-dark {
    @include admin-nav-dark;
}

//// Color mode preference trumps L&F admin light navbar option
//[data-bs-theme=dark] {                              // dark color mode
//    .tiki .tiki-admin-top-nav-light,
//    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
//    .tiki .tiki-admin-aside-nav-light {               // light top selectors
//        @include admin-nav-dark;                      // dark values
//    }
//}
//// Color mode preference trumps L&F admin dark navbar option
//[data-bs-theme=light] {                              // light color mode
//    .tiki .tiki-admin-top-nav-dark,
//    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
//    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
//        @include admin-nav-dark;                      // dark values
//    }
//}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

:root {
    --tiki-code-bg: #303030;
 //   .navbar:not(.bg-light) ul.navbar-nav.sm-nav > .sm-nav-item > .sm-nav-link {
 //       color: var(--bs-link-color);
 //   }
    .el-input__inner {
        --el-font-size-base: 1rem !important;
        font-family: var(--bs-body-font-family) !important;
    }
}

//.accordion {
//    --bs-accordion-active-bg: #E6EDCF;
//    --bs-accordion-active-color: #2c3a05;
//    --bs-accordion-btn-bg: #FDF0F0;
//    --bs-accordion-btn-color: #D45E5A;
//}
