// This file contains CSS (SCSS) that theme options have in common, mostly color variations from the parent theme.

$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');

.page-header {
    background: var(--tiki-fivealive-theme-bg);
}

.postbody-title,
.card-header,
.card-footer {
    background: var(--tiki-fivealive-theme-bg);
    color: var(--tiki-fivealive-theme-color);
    a {
        color: var(--tiki-fivealive-theme-link-color);
        &:hover {
            color: var(--tiki-fivealive-theme-link-hover-color);
        }
    }
    --bs-heading-color: var(--tiki-fivealive-theme-color);
}

// Body
.layout_basic,
layout_basic.fullscreen,
.navbar-collapse.collapse.in {
    background-color: #414141;
}

#fullscreenbutton a {
    color: #000000;
}

.layout_basic .container.container-std {
    background: var(--bs-body-bg);
}

// Copied from base_files/scss/_tiki-selectors.scss (which these child themes don't import)
.tiki .wiki.external + .icon-link-external, // wikitext
.tiki .wiki.external .icon-link-external,
.editable-inline .icon { // Tracker inline editing
    color: var(--#{$prefix}link-color); // $link-color;
}

// Typography
// Tables
.table th,
.table td {
    border-top: 1px solid $table-border-color;
}

.table > thead > tr > th {
    border-bottom: 2px solid $table-border-color;
}

.table > tbody + tbody {
    border-top: 2px solid $table-border-color;
}

.table .table-bordered {
    border: 1px solid $table-border-color;
}

.table .table-bordered th,
.table .table-bordered td {
    border: 1px solid $table-border-color;
}

// Forms
.form-check-input:checked {
    background-color: $info; // #0d6efd;
    border-color: $info; // #0d6efd;
}

.form-range::-webkit-slider-thumb {
    background-color: $info;
}

.nav-tabs .nav-link {
    border-color: rgba(222, 226, 230, 0.48) rgba(222, 226, 230, 0.48) rgba(255, 255, 255, 0.48);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color; // #000;
    background-color: $nav-tabs-link-active-bg; //#a8e2ec;
}

.flipmodtitle.close {
    color: $card-cap-color;//#fff;
}

.card-header {
    color: $card-cap-color;
    background: var(--tiki-fivealive-theme-bg);
}

.page-item.disabled,
.list-group-item.disabled {
    color: $text-muted !important;
}


.blog-postbody-title {
    padding: 10px;
//    color: $card-title-color; // #fff;
    h2.card-title {
        font-size: 1.6rem;
    }
//    a {
//        color: $card-title-color; //#fff;
//   }
}

@media (max-width: 768px) {
    .page-header {
        height: auto;
    }
}

.postbody-title .card-title {
    color: $tiki-postbody-title-card-title-color;
}

.searchresults blockquote em,
.highlight {
    background: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
}

// /* Auto TOC */
#autotoc .nav-link.active,
#autotoc .nav-link.active:hover,
#autotoc .nav-link.active:focus {
    border-left-color: $primary !important;
}

#autotoc .nav > li > a:hover,
#autotoc .nav > li > a:focus {
    border-left-color: $secondary !important;
}

// Pagination
:root {
    .page-link.active, .active > .page-link {
        --bs-pagination-active-bg: #{$secondary};
        --bs-pagination-active-border-color: #{$secondary};
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        --bs-nav-pills-link-active-bg: #{$secondary};
    }
}

// Cards
.col2,
.col3 {
    .card-header {
        border-bottom: 1px solid $card-border-color;
    }
}

.page-item.disabled,
.list-group-item.disabled {
    color: $text-muted !important;
}

.tiki .main-footer {
    padding: 1px 0 2px 0;
    background: #000000;
}

.footer_liner {
    .card-header {
        border-width: 0 0 1px 0;
    }
}

// Dark page footer
:root .bottom_modules,
[data-bs-theme="light"] .bottom_modules,
[data-bs-theme="dark"] .bottom_modules {
    //    color: #dee2e6;
    .tiki-card-header-title { color: $tiki-dark-footer-card-header-title-color; }
    .card-header { background: $tiki-dark-footer-card-header-bg; }
    //.card, .card-header { border-color: $tiki-dark-footer-card-border-color; }
    .card { color: #dee2e6; background: #262626; }
    a:not(.nav-link:not(.dropdown-toggle), .dropdown-item), .btn-link { color: $tiki-dark-footer-link-color; }
    a:not(.nav-link:not(.dropdown-toggle), .dropdown-item):hover, .btn-link:hover { color: $tiki-dark-footer-link-hover-color; }
}

[data-bs-theme=dark].bottom_modules {
    color: $body-color-dark;
}
