// This file contains CSS (SCSS) that Classic theme options have in common, mostly color variations.
// The top SCSS file of each Classic theme provides values for these variables.

// Image path example:
$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

.layout_classic .header_container {
    box-shadow: inset 0 44px 0 0 $classic-header-container-shadow;
}

.layout_classic .page-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.layout_classic .page-header .bg-dark {
    background: $classic-header-bg-dark !important;
}
// Make logo module background full height of navbar
// Use CSS variable for padding-right so site admin can adjust per logo or layout
.top_modules .module:not(.box-login_box):first-child { // This exception is for United Back End, which has the log-in as first module.
    margin-top: -.5em;
    margin-bottom: -.5em;
    padding-left: 15px;
    padding-right: var(--tiki-fivealive-classic-logo-module-padding-end);
}

.top_modules .module:not(.box-login_box):first-child {
    background: url('#{$imagePath}siteheader2.png') no-repeat top right !important;
    margin-left: -15px !important;
    color: $dark !important;
    a {
        color: $dark !important;
    }
}

.layout_classic .sitetitle,
.layout_classic .sitetitle a,
.layout_classic .sitesubtitle {
    color: $navbar-light-color !important;
}

.layout_classic .page-header .nav-link {
    color: #fff;
}

.layout_social .tiki-top-nav-dark,
.layout_social .tiki-top-nav-light {
    --tiki-site-title-color: #000 !important;
    --tiki-site-subtitle-color: #000 !important;
}
