// Variables for FiveAlive theme, including overrides of Bootstrap SCSS variables as well as any Tiki SCSS variables
// Contains overriding declarations of Bootstrap variables and possible related value aliases to implement an override.
// For example, if `$component-active-bg: $primary;` then ``$dropdown-link-active-bg: $component-active-bg;` also needs to be explicitly restated for the theme value to override the Bootstrap default.

// Enable SCSS color functions and import default variable values
@use "sass:color";
@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated), required before import of variables.scss.
@import "../../default/scss/variables"; // 2. Import directly to allow removal of redundant Bootstrap default declarations in this file.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Color system
$primary: #0c628c;
$success: #2A8442;
$secondary: #0a4969;
$info: #4d3a7d;
$warning: #897415;
$danger: #B85B19;
$light: #fff;
$dark: #000;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Options
// Body
$body-color: $gray-800; // !default
$body-bg: #fff; // !default


$body-secondary-color:      rgba($body-color, .75); // !default;
$body-secondary-bg:         $gray-200; // !default;

$body-tertiary-color:       rgba($body-color, .5); // !default;
$body-tertiary-bg:          $gray-100; // !default;

// Links
$link-color: #177EAB;

// Components
$border-color: $gray-400;
//$component-active-color:       #ddb9af; // $white;  // default
$component-active-bg:         #0c628c; // ($primary);  // default

// Typography
$font-family-sans-serif: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; // Switch to system font instead of "Open Sans", sans-serif; // Was Lato
$font-size-base: 1rem;
$headings-font-weight: 700;
$headings-color: #333333;

// Tables
// Buttons
$btn-primary-bg:                 #2098cd; // This seems to be a Tiki SCSS variable, but not used anywhere.
$btn-link-disabled-color:         #777777; // $gray-600 default

// Forms
$input-color-placeholder:         #777777; // This seems to be a Tiki SCSS variable, but not used anywhere.
$form-check-input-checked-color:          $component-active-color; // !default; NECESSARY
$form-check-input-checked-bg-color:       $component-active-bg; // !default; NECESSARY
$form-range-thumb-bg:                      $component-active-bg; // !default; NECESSARY

// Dropdowns
// Navs
$nav-tabs-border-color:             $gray-300; // !default;

// Navbar
$navbar-padding-y: 0em;
//$nav-link-padding-y:                 0.9rem;
$navbar-dark-color:                #efefef; // rgba($white, .55) !default;
$navbar-dark-hover-color:          #fff; // rgba($white, .75) !default;
$navbar-dark-hover-bg:             #000; // transparent;

// Dropdowns
$dropdown-link-active-bg:           $component-active-bg; //  !default;

$dropdown-dark-color:               $gray-300; // !default;
$dropdown-dark-bg:                  $gray-800; // !default;
$dropdown-dark-border-color:        $dropdown-border-color; // !default;
$dropdown-dark-divider-bg:          $dropdown-divider-bg; // !default;
$dropdown-dark-box-shadow:          null; // !default;
$dropdown-dark-link-color:          $dropdown-dark-color; // !default;
$dropdown-dark-link-hover-color:    $white; // !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15); // !default;
$dropdown-dark-link-active-color:   $dropdown-link-active-color; // !default;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg; // !default;
$dropdown-dark-link-disabled-color: $gray-500; // !default;
$dropdown-dark-header-color:        $gray-500; // !default;

// Pagination
// Cards
$card-cap-bg: #2fb0ea; // $tiki-top-bg; // var(--tiki-top-bg);  // --bs-card-cap-bg default. In options, declared as $tiki-top-bg.
$card-cap-color: $white;
$card-border-radius: 0;
$card-text: $body-color !default;
$card-border-color: transparent;

// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Close
// Code
$code-color:                      $body-color; //!default;

// - - - - - - - - - -  - - - - - - Tiki SCSS variables - - - - - - - - - - - - - - - - - //

$tiki-footer-border-color: #28aae1;
