@use 'element-plus/theme-chalk/el-transfer.css';
@use 'element-plus/theme-chalk/el-checkbox.css';
@use 'element-plus/theme-chalk/el-button.css';
@use 'element-plus/theme-chalk/el-icon.css';
@use 'element-plus/theme-chalk/el-input.css';
@use 'element-plus/theme-chalk/el-alert.css';
@use '../all.scss';

.el-transfer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-transfer-panel {
    min-width: calc(45% - 50px * 2); // Make it take up all the space
}

// prevent visibility of horizontal scrollbar when moving items via drag-and-drop
.el-transfer-panel__list {
    overflow-x: hidden;
}

// forcefully display the list even when empty to allow dropping items into it
.el-transfer-panel__list {
    display: block !important;
}

// On mobile, hide the buttons, and prefer only to use drag-and-drop
@media (max-width: 768px) {
    .el-transfer__buttons {
        display: none;
    }
    .el-transfer {
        gap: 1rem;
    }
}

.transfer-container {
    margin-top: 1rem;
}

.transfer-container.invalid .el-transfer-panel:last-child {
    & > .el-transfer-panel__body {
        border-color: var(--bs-danger);
    }
    & > .el-transfer-panel__header {
        border-color: var(--bs-danger) var(--bs-danger) var(--el-border-color) var(--bs-danger);
    }
}