//--------------------------- Tiki CSS variables
:root {
    --tiki-top-bg-light: #{rgba($gray-800, 1)}; // #{$light};
    --tiki-top-light-color: #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-top-light-link-color: #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-top-light-link-hover-color:  #{$white}; //#{$navbar-light-hover-color};

    --tiki-topbar-bg-light: #444; //#{$light};
    --tiki-topbar-light-color:  #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-topbar-light-link-color: #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$white}; //#{$navbar-light-hover-color};

    --tiki-top-bg-dark: #{rgba($gray-800, 1)};
    --tiki-top-dark-color: #{rgba($white, .6)};
    --tiki-top-dark-link-color: #{rgba($white, .6)};
    --tiki-top-dark-link-hover-color: #{$white};

    --tiki-topbar-bg-dark: #444; //#{rgba($gray-800, 1)};
    --tiki-topbar-dark-color: #{rgba($white, .6)};
    --tiki-topbar-dark-link-color: #{rgba($white, .6)};
    --tiki-topbar-dark-link-hover-color: #{$white};
}