//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgba(248, 249, 250, 1);
    --tiki-top-color: rgba(0, 0, 0, 0.9);
    --tiki-top-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-link-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgba(248, 249, 250, 1);
    --tiki-topbar-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-link-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(34, 34, 34, 1);
    --tiki-top-color: #fff;
    --tiki-top-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-link-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(34, 34, 34, 1);
    --tiki-topbar-color: #fff;
    --tiki-topbar-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-link-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: rgba(248, 249, 250, 1);
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-link-color: rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-link-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-link-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgba(248, 249, 250, 1);
    --tiki-admin-aside-nav-link-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-link-hover-color: var(--tiki-admin-top-nav-link-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-color: #{$navbar-light-color};
    --tiki-admin-dropdown-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgba(248, 249, 250, 1);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-link-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-link-hover-color: #fff;
//    --tiki-admin-top-nav-link-hover-bg: none;
    --tiki-admin-aside-nav-bg: rgba(34, 34, 34, 1);
    --tiki-admin-aside-nav-link-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-aside-nav-link-hover-color: var(--tiki-admin-top-nav-link-hover-color);
    --tiki-admin-dropdown-color: #{$link-color}; // #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-hover-color: var(--tiki-admin-top-nav-link-color);
    --tiki-admin-dropdown-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(34, 34, 34, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
